<div id="WorkTimeList" class="headtextelem">
    <div class="filter container">
        <details class="detailsblock">
            <summary class="p-head">Фильтр</summary>

            <form novalidate ng-submit="filterWork()" ; class="filter">
                <!--      <input class="vvod" type="number" inputmode="decimal" id="WorkId" step="any" ng-model="Filt.workId"/>-->
                <!--      <br>-->
                <!--      <input class="vvod" type="number" inputmode="decimal" id="DateLE" value="1" ng-model="Filt.dateLe"/>-->

                <!--      <p class="p-head"> <= Цена <= </p>-->
                <!--      <input class="vvod" type="number" inputmode="decimal" id="DateGe" step="any" ng-model="Filt.dateGe"/>-->
                <div class="filterblock">
                    <div class="horiz">
                        <p class="p-form">ФИО</p>

                        <select class="vvod40 mar5" name="choice" id="User" ng-model="Filt.nikName">
                            <option ng-repeat="user in UserList" ng-value="user.nikName" value="user.nikName">{{user.lastName}}
                                {{user.firstName}} {{user.patronymic}}
                            </option>
                            <option ng-value="" value="">Все</option>

                        </select>
                        <p class="p-head">Скрыть ЗИ без работ</p> <input class="vvod20" type="checkbox"
                                                                id="HideNotTime"
                                                                ng-model="Filt.hideNotTime"/>
                    </div>
                    <div class="horiz">
                        <p class="p-head"> Наименование </p> <input class="vvod80" inputmode="text" id="Name"
                                                                    ng-model="Filt.name"/>
                        <br>
                    </div>
                    <div class="horiz">
                        <p class="p-head"> Devbo </p> <input class="vvod20" inputmode="text" id="WorkNameFilt"
                                                             ng-model="Filt.task"/>
                        <p class="p-head"> № Sap </p> <input class="vvod20" type="number" inputmode="numeric" id="CodeSapFilt"
                                                             step="1"
                                                             ng-model="Filt.codeSap"/>
                        <p class="p-head"> ZI- </p> <input class="vvod20" inputmode="text" id="CodeZiFilt"
                                                           ng-model="Filt.codeZi"/>

                        <!--                <input  type="hidden" id="wwwwId" />-->
                    </div>
                    <div class="horiz">
                        <p class="p-head">Текущий этап ЗИ :</p>
                        <select class="vvod20" name="choice" id="StageZFilt" ng-model="Filt.stageZi">
                            <option ng-value="0" value="0">0</option>
                            <option ng-value="1" value="1">I</option>
                            <option ng-value="2" value="2">II</option>
                            <option ng-value="3" value="3">III</option>
                            <option ng-value="4" value="4">IV</option>
                            <option ng-value="5" value="5">V</option>
                            <option ng-value="15" value="15">В работе</option>
                            <option ng-value="6" value="6">Закрытые</option>
                            <option ng-value="19" value="19">Все</option>
                        </select>
                        <p class="p-head">№ Релиза</p>
                        <br>
                        <input class="vvod20" type="text" id="ReleaseFilt" step="any" ng-model="Filt.release"/>
                        <button type="submit" class="headbutton">Применить</button>
                        <button type="button" class="headbutton" ng-click="clearFilter(true)">Сбросить</button>

                    </div>
                </div>
            </form>
        </details>
    </div>
    <div class="filter containerfilt">
        <button class="headbutton" ng-click="findPage(-1)">PrevPage</button>
        <input class="vvod" type="number" id="Page" value="1"/>
        <button class="headbutton" ng-click="findPage(1)">NextPage</button>
        <p class="p-head">Количество ЗИ</p>
        <select class="vvod20" name="choice" id="StageZI" ng-model="Filt.size" ng-change="filterWork()">
            <option ng-value="10" value="10">10</option>
            <option ng-value="25" value="25">25</option>
            <option ng-value="50" value="50">50</option>
            <option ng-value="100" value="100">100</option>
            <option ng-value="500" value="500">500</option>
            <option ng-value="1000" value="1000">1000</option>
            <option ng-value="10000" value="10000">10000</option>
        </select>
    </div>
    <h1>Факт затрат</h1>
    <table>
        <tr>
            <td class="tablehead1" rowspan="3">№ п/п</td>
            <td class="tablehead2" rowspan="3">№ ЗИ (ZI)</td>
            <td class="tablehead1" rowspan="3">Наименование ЗИ</td>
            <td class="tablehead2" rowspan="3">Исполнитель</td>
            <td class="tablehead1" colspan="6">Трудозатраты, чел/час</td>
        </tr>
        <tr>
            <td class="tablehead1">0 этап Согласование требований</td>
            <td class="tablehead2">I этап Разработка прототипа</td>
            <td class="tablehead1">II этап Стабилизация прототипа</td>
            <td class="tablehead2">III этап Стабилизация релиза</td>
            <td class="tablehead1">IV этап ОПЭ релиза</td>
            <td class="tablehead2">V этап Вендерка</td>
        </tr>
        <tr>
            <td class="tablehead1">Факт</td>
            <td class="tablehead2">Факт</td>
            <td class="tablehead1">Факт</td>
            <td class="tablehead2">Факт</td>
            <td class="tablehead1">Факт</td>
            <td class="tablehead2">Факт</td>
        </tr>

        <tbody>
        <tr ng-repeat="work in WorkTimeList">
            <td>{{work.num}}</td>
            <td rowspan="{{work.userCol}}" ng-if="work.codeZi != null" class="textnotwrap">{{work.codeZi}}</td>
            <td rowspan="{{work.userCol}}" ng-if="work.codeZi != null">{{work.name}}</td>
            <td ng-if="!work.authorFirstName">{{work.nikName}}</td>
            <td ng-if="work.authorFirstName">{{work.authorLastName}} {{work.authorFirstName}}
                {{work.authorPatronymic}}
            </td>

            <td>{{work.timeAnalise}}</td>
            <td>{{work.timeDevelop}}</td>
            <td>{{work.timeDebug}}</td>
            <td>{{work.timeRelease}}</td>
            <td>{{work.timeOPE}}</td>
            <td>{{work.timeWender}}</td>
        </tr>
        </tbody>
    </table>

</div>

