<div id="WorkTimeList" class="head_text_elem">
    <div class="filter container">
        <details class="details_block">
            <summary class="p-head">Фильтр</summary>

            <form novalidate ng-submit="filterWork()" class="filter">
                <div class="filter_block">
                    <div class="horiz">
                        <label for="User" class="p-head">ФИО</label>
                        <select class="vvod40 mar5" name="UserFilterFactWorkSelect" id="User" ng-model="Filt.nikName">
                            <option ng-repeat="user in UserList" ng-value="user.nikName" value="user.nikName">{{user.lastName}}
                                {{user.firstName}} {{user.patronymic}}
                            </option>
                            <option ng-value="" value="">Все</option>

                        </select>
                        <label for="HideNotTime" class="p-head">Скрыть ЗИ без работ</label>
                        <input class="vvod20" type="checkbox"
                                                                id="HideNotTime"
                                                                ng-model="Filt.hideNotTime"/>
                    </div>
                    <div class="horiz">
                        <label for="Name" class="p-head"> Наименование </label>
                        <input class="vvod80" inputmode="text" id="Name"
                                                         ng-model="Filt.name"/>
                        <br>
                    </div>
                    <div class="horiz">
                        <label for="WorkNameFilter" class="p-head"> Devbo </label>
                        <input class="vvod20" inputmode="text" id="WorkNameFilter"
                                                                 ng-model="Filt.task"/>
                        <label for="CodeSapFilter" class="p-head"> № Sap </label>
                        <input class="vvod20" type="number" inputmode="numeric" id="CodeSapFilter"
                                                                step="1"
                                                                ng-model="Filt.codeSap"/>
                        <label for="CodeZiFilter" class="p-head"> ZI- </label>
                        <input class="vvod20" inputmode="text" id="CodeZiFilter"
                                                               ng-model="Filt.codeZi"/>

                    </div>
                    <div class="horiz">
                        <label for="StageZiFilter" class="p-head">Текущий этап ЗИ :</label>
                        <select class="vvod20" name="StageFilterFactWorkSelect" id="StageZiFilter" ng-model="Filt.stageZi">
                            <option ng-value="0" value="0">0</option>
                            <option ng-value="1" value="1">I</option>
                            <option ng-value="2" value="2">II</option>
                            <option ng-value="3" value="3">III</option>
                            <option ng-value="4" value="4">IV</option>
                            <option ng-value="5" value="5">V</option>
                            <option ng-value="15" value="15">В работе</option>
                            <option ng-value="6" value="6">Закрытые</option>
                            <option ng-value="19" value="19">Все</option>
                        </select>
                        <label for="ReleaseFilter" class="p-head">№ Релиза</label>
                        <select class="vvod40mar10" name="ReleaseFilterFactWorkSelect" id="ReleaseFilter" ng-model="Filt.releaseId">
                            <option ng-repeat="release in ReleaseList" ng-value="release.id" value="release.id">
                                {{release.name}}
                            </option>
                            <option  ng-value="" value="">Все</option>
                        </select>
                    </div>
                    <div class="horiz">
                        <button type="submit" class="head_button">Применить</button>
                        <button type="button" class="head_button" ng-click="clearFilter(true)">Сбросить</button>
                        <button type="button" class="head_button" ng-click="sendFilter()">Поделиться</button>

                    </div>
                </div>
            </form>
        </details>
    </div>
    <div class="filter container_filter">
        <button class="head_button" ng-click="findPage(-1)">PrevPage</button>
        <label for="Page"></label>
        <input class="vvod" type="number" id="Page" value="1"/>
        <button class="head_button" ng-click="findPage(1)">NextPage</button>
        <label for="StageZI" class="p-head">Количество ЗИ</label>
        <select class="vvod20" name="SizeFilterFactWorkSelect" id="StageZI" ng-model="Filt.size" ng-change="filterWork()">
            <option ng-value="10" value="10">10</option>
            <option ng-value="25" value="25">25</option>
            <option ng-value="50" value="50">50</option>
            <option ng-value="100" value="100">100</option>
            <option ng-value="500" value="500">500</option>
            <option ng-value="1000" value="1000">1000</option>
            <option ng-value="10000" value="10000">10000</option>
        </select>
    </div>
    <h1>Факт затрат ЗИ</h1>
    <table>
        <tr>
            <td class="table_head1" rowspan="2">№ п/п</td>
            <td class="table_head2" rowspan="2">№ ЗИ (ZI)</td>
            <td class="table_head1" rowspan="2">Наименование ЗИ</td>
            <td class="table_head2" rowspan="2">Исполнитель</td>
            <td class="table_head1" colspan="6">Факт трудозатрат, чел/час</td>
        </tr>
        <tr>
            <td class="table_head1 stage_time">0 этап <br> Согласование требований</td>
            <td class="table_head2 stage_time">I этап <br> Разработка прототипа</td>
            <td class="table_head1 stage_time">II этап <br> Стабилизация прототипа</td>
            <td class="table_head2 stage_time">III этап <br> Стабилизация релиза</td>
            <td class="table_head1 stage_time">IV этап <br> ОПЭ релиза</td>
            <td class="table_head2 stage_time">V этап <br> Вендерка</td>
        </tr>
<!--        <tr>-->
<!--            <td class="table_head1">Факт</td>-->
<!--            <td class="table_head2">Факт</td>-->
<!--            <td class="table_head1">Факт</td>-->
<!--            <td class="table_head2">Факт</td>-->
<!--            <td class="table_head1">Факт</td>-->
<!--            <td class="table_head2">Факт</td>-->
<!--        </tr>-->

        <tbody>
        <tr ng-repeat="work in WorkTimeList">
            <td>{{work.num}}</td>
            <td rowspan="{{work.userCol}}" ng-if="work.codeZi != null" class="text_not_wrap">{{work.codeZi}}</td>
            <td rowspan="{{work.userCol}}" ng-if="work.codeZi != null">{{work.name}}</td>
            <td ng-if="!work.authorFirstName">{{work.nikName}}</td>
            <td ng-if="work.authorFirstName">{{work.authorLastName}} {{work.authorFirstName}}
                {{work.authorPatronymic}}
            </td>

            <td>{{work.timeAnalise}}</td>
            <td>{{work.timeDevelop}}</td>
            <td>{{work.timeDebug}}</td>
            <td>{{work.timeRelease}}</td>
            <td>{{work.timeOPE}}</td>
            <td>{{work.timeWender}}</td>
        </tr>
        </tbody>
    </table>
    <div>
        <img ng-if="load" src="../gif/wait1.gif" alt="wait1" width="900" height="506"/>
    </div>
</div>

