<div id="WorkTimeList" class="head_text_elem">
    <div class="filter container_filter">
        <details class="details_block">
            <summary class="p-head">Фильтр</summary>
            <form novalidate ng-submit="filterWork()" class="filter">
                <div class="filter">
                    <div class="filter_block">

                        <div class="horiz">
                            <label for="ZiName" class="p-head">Наименование ЗИ</label>
                            <input class="vvod40" type="text" id="ZiName" step="any" ng-model="Filt.ziName"/>
                            <label for="ReleaseFilter" class="p-head">№ Релиза</label>
                            <select class="vvod40mar10" name="ReleaseFilterWorkTimeRepSelect" id="ReleaseFilter" ng-model="Filt.releaseId">
                                <option ng-repeat="release in ReleaseList" ng-value="release.id" value="release.id">
                                    {{release.name}}
                                </option>
                                <option  ng-value="" value="">Все</option>
                            </select>
                        </div>
                        <div class="horiz">
                            <label for="StageZiFilter" class="p-head">Текущий этап ЗИ :</label>
                            <select class="vvod20" name="StageZiFilterWorkTimeRepSelect" id="StageZiFilter" ng-model="Filt.stageZi">
                                <option ng-value="0" value="0">0</option>
                                <option ng-value="1" value="1">I</option>
                                <option ng-value="2" value="2">II</option>
                                <option ng-value="3" value="3">III</option>
                                <option ng-value="4" value="4">IV</option>
                                <option ng-value="5" value="5">V</option>
                                <option ng-value="15" value="15">В работе</option>
                                <option ng-value="6" value="6">Закрытые</option>
                                <option ng-value="" value="">Все</option>
                            </select>
                            <label for="AvailWorkFilter" class="p-head">ЗИ :</label>
                            <select class="vvod20" name="AvailWorkFilterWorkTimeRepSelect" id="AvailWorkFilter" ng-model="Filt.availWork">
                                <option ng-value="true" value="true">С работами</option>
                                <option ng-value="false" value="false">Без работ</option>
                                <option ng-value="" value="">Все</option>
                            </select>
                        </div>
                        <div class="horiz"><p class="p-sort">Сортировать</p>
                            <button ng-repeat="workSort in WorkSort" type="button" class="sort_button" ng-click="delSort(workSort)">{{nameSort(workSort)}} </button>
                        </div>
                        <div class="horiz">
                            <button type="submit" class="head_button">Применить</button>
                            <button type="button" class="head_button" ng-click="clearFilter(true)">Сбросить</button>
                            <button type="button" class="head_button" ng-click="sendFilter()">Поделиться</button>

                        </div>
                    </div>
                </div>
            </form>
        </details>
    </div>
    <h1>Статус задач</h1>
<div  class="wrapper">
    <table>

        <tr> <!--row 1-->
            <td class="table_head1" rowspan="5"> № п/п</td>
            <td class="table_head2" rowspan="5"><button class="table_head2 button_table" ng-click="addSort('codeZI')"> Код Зи</button></td>
            <td class="sticky-col first-col table_head1" rowspan="5"><button class="table_head1 button_table" ng-click="addSort('name')"> Наименование</button> </td>
            <td class="table_head1" rowspan="5">Проект</td>
            <td class="table_head2" colspan="4"> 0 этап</td>
            <td class="table_head2" colspan="2" rowspan="4"> Дата начала доработки</td>
            <td class="table_head1" colspan="6"> I этап</td>
            <td class="table_head2" colspan="4"> II этап</td>
            <td class="table_col1" rowspan="5">
                <button class="table_head2 button_table" ng-click="addSort('release.sort')">№ релиза</button>
            </td>
            <td class="table_col1" colspan="2" rowspan="3"> Выдача релиза</td>
            <td class="table_head1" colspan="4"> III этап</td>
            <td class="table_head2" colspan="4"> IV этап</td>
            <td class="table_head1" colspan="2" rowspan="4"> Общие трудозатраты на доработку по ЗИ</td>
            <!--      <td rowspan="5">Вендерка План</td>-->
            <!--      <td rowspan="5">Вендерка Факт</td>-->
            <td rowspan="5">Вендерка</td>

        </tr>
        <tr> <!--row 2-->
            <td class="table_head2" colspan="4"> Согласование требований к доработке</td>
            <td class="table_head1" colspan="6"> Разработка прототипа</td>
            <td class="table_head2" colspan="4"> Стабилизация прототипа (30 дней)</td>
            <td class="table_head1" colspan="4"> Стабилизация релиза (30 дней)</td>
            <td class="table_head2" colspan="4"> ОПЭ релиза (30 дней)</td>

        </tr>
        <tr> <!--row 3-->
            <td class="table_head2" colspan="4"> Результат: внутреннее согласование ТЗ</td>
            <td class="table_head1" colspan="6"> Результат: выдача прототипа в соответствии с ТЗ</td>
            <td class="table_head2" colspan="4"> Результат: тестирования ЦК Рязань завершено</td>
            <td class="table_head1" colspan="4"> Результат: регресс тестирование ЦК Рязань завершено</td>
            <td class="table_head2" colspan="4"> Результат: завершение ОПЭ</td>

        </tr>
        <tr> <!--row 4-->
            <td class="table_head2" colspan="2"> Дата передачи ТЗ в работу</td>
            <td class="table_head2" colspan="2"> Трудозатраты, чел/час</td>
            <td class="table_head1" colspan="2"> Трудозатраты, чел/час</td>
            <td class="table_head1" colspan="2"> Дата окончания разработки</td>
            <td class="table_head1" colspan="2"> Дата выдачи прототипа</td>
            <td class="table_head2" colspan="2"> Дата</td>
            <td class="table_head2" colspan="2"> Трудозатраты, чел/час</td>
            <td class="table_col1" colspan="2"> Дата</td>
            <td class="table_head1" colspan="2"> Дата</td>
            <td class="table_head1" colspan="2"> Трудозатраты, чел/час</td>
            <td class="table_head2" colspan="2"> Дата</td>
            <td class="table_head2" colspan="2"> Трудозатраты, чел/час</td>

        </tr>
        <tr> <!--row 5-->
            <td class="table_head2"> План</td>
            <td class="table_head2"> Факт</td>
            <td class="table_head2"> План</td>
            <td class="table_head2"> Факт</td>
            <td class="table_head2"> План</td>
            <td class="table_head2"> Факт</td>
            <td class="table_head2"><button class="table_head2 button_table" ng-click="addSort('startTaskPlan')">План</button></td>
            <td class="table_head2"><button class="table_head2 button_table" ng-click="addSort('startTaskFact')">Факт</button></td>
            <td class="table_head1"> План</td>
            <td class="table_head1"> Факт</td>
            <td class="table_col2"> План</td>
            <td class="table_col2"> Факт</td>
            <td class="table_head2"> План</td>
            <td class="table_head2"> Факт</td>
            <td class="table_head2"> План</td>
            <td class="table_head2"> Факт</td>
            <td class="table_col1"> План</td>
            <td class="table_col1"> Факт</td>
            <td class="table_head1"> План</td>
            <td class="table_head1"> Факт</td>
            <td class="table_head1"> План</td>
            <td class="table_head1"> Факт</td>
            <td class="table_head2"> План</td>
            <td class="table_head2"> Факт</td>
            <td class="table_head2"> План</td>
            <td class="table_head2"> Факт</td>
            <td class="table_head1"> План</td>
            <td class="table_head1"> Факт</td>

        </tr>
        <tbody ng-repeat="work in WorkTimeList">
        <tr ng-repeat="workProject in work.workRepProjectDtoList">
            <td ng-if="$index == 0 " rowspan="{{work.workRepProjectDtoList.length}}">{{work.id}}</td>
            <!--         Код Зи-->
            <td class="text_not_wrap" ng-if="$index == 0 " rowspan="{{work.workRepProjectDtoList.length}}">
                {{work.codeZI}}
            </td>
            <!--        // Наименование-->
            <td class="sticky-col first-col" ng-if="$index == 0 " rowspan="{{work.workRepProjectDtoList.length}}">
                {{work.name}}
            </td>
            <td class="text_not_wrap">{{workProject.projectName}} ({{workProject.projectCode}})</td>
            <!--        // ВЕНДЕРКА План-->
            <td>{{workProject.analiseEndPlanStr}}</td>
            <!--        // ВЕНДЕРКА-->
            <td>{{workProject.analiseEndFactStr}}</td>
            <td>{{workProject.laborAnalise}}</td>
            <td>{{workProject.timeAnalise}}</td>
            <!--        // Дата начала доработки План-->
            <td>{{workProject.startTaskPlanStr}}</td>
            <!--        // Дата начала доработки Факт-->
            <td>{{workProject.startTaskFactStr}}</td>

            <!--        // Плановые трудозатраты, чел/час разработки-->
            <td>{{workProject.laborDevelop}}</td>
            <!--        // Разработка прототипа-->
            <td>{{workProject.timeDevelop}}</td>
            <!--        //начало разработки план-->
            <td class="table_col2">{{workProject.developEndPlanStr}}</td>
            <!--        //начало разработки факт-->
            <td class="table_col2">{{workProject.developEndFactStr}}</td>
            <td class="table_col2">{{workProject.issuePrototypePlanStr}}</td>
            <!--        //начало разработки факт-->
            <td class="table_col2">{{workProject.issuePrototypeFactStr}}</td>
                        
<!--        // Стабилизация прототипа план-->
            <td>{{workProject.debugEndPlanStr}}</td>
            <!--        // Стабилизация прототипа факт-->
            <td>{{workProject.debugEndFactStr}}</td>

            <!--        // Плановые трудозатраты, чел/час Стабилизация прототипа-->
            <td>{{workProject.laborDebug}}</td>
            <!--        // Стабилизация прототипа-->
            <td>{{workProject.timeDebug}}</td>
            <!--        // Порядковый номер релиза-->
            <td>{{workProject.release}}</td>
            <!--        // Выдача релиза даты План-->
            <td class="table_col1">{{workProject.issuingReleasePlanStr}}</td>
            <!--        // Выдача релиза дата факт-->
            <td class="table_col1">{{workProject.issuingReleaseFactStr}}</td>
            <!--        // Стабилизация релиза-->
            <td>{{workProject.releaseEndPlanStr}}</td>
            <!--        // Стабилизация релиза-->
            <td>{{workProject.releaseEndFactStr}}</td>

            <!--        // Плановые трудозатраты, чел/час Стабилизация релиза-->
            <td>{{workProject.laborRelease}}</td>
            <!--        // Стабилизация релиза-->
            <td>{{workProject.timeRelease}}</td>
            <!--        // ОПЭ релиза-->
            <td>{{workProject.opeEndPlanStr}}</td>
            <!--        // ОПЭ релиза-->
            <td>{{workProject.opeEndFactStr}}</td>
            <!--        // Плановые трудозатраты, чел/час ОПЭ-->
            <td>{{workProject.laborOPE}}</td>
            <!--        // ОПЭ релиза-->
            <td>{{workProject.timeOPE}}</td>
            <!--        // плановое время-->
            <td>{{workProject.timePlan}}</td>
            <!--        // фактическое время-->
            <td>{{workProject.timeFact}}</td>

            <!--        // ВЕНДЕРКА-->
            <td>{{workProject.timeWender}}</td>


        </tr>
        </tbody>
    </table>
</div>
    <div class="wait_1_2">
        <img ng-if="load" src="../gif/wait1_2.gif" alt="Лучше ждите" width="300" height="300"/>
    </div>
</div>

