<div id="VacationList" class="head_text_elem">
    <div class="filter container">
        <details class="details_block">
            <summary class="p-head">Фильтр</summary>
            <form novalidate ng-submit="filterVacation()" class="filter">
                <div class="filter">
                    <div class="filter_block">

                        <div class="horiz">
                            <label for="User" class="p-head">ФИО</label>
                            <select class="vvod40 mar5" name="UserFilterVacationSelect" id="User" ng-model="Filt.nikName">
                                <option ng-repeat="user in UserList" ng-value="user.nikName" value="user.nikName">
                                    {{user.lastName}}
                                    {{user.firstName}} {{user.patronymic}}
                                </option>
                                <option ng-repeat="role in RoleList" ng-value="'ROLE_' + role.code"
                                        value="'ROLE_' + role.code">
                                    {{role.name}}
                                </option>

                                <option ng-value="" value="">Мои</option>

                            </select>

                        </div>
                        <div class="horiz">
                            <label for="FilterDateStart"></label>
                            <input class="vvod20" type="date" id="FilterDateStart" step="any" ng-model="Filt.dateStart"/>
                            <label for="FilterDateEnd" class="p-head"> <= Дата <= </label>
                            <input class="vvod20" type="date" id="FilterDateEnd" step="any" ng-model="Filt.dateEnd"/>
                            <br>
                            <button type="submit" class="head_button">Применить</button>
                            <button type="button" class="head_button" ng-click="clearFilter(true)">Сбросить</button>
                            <button type="button" class="head_button" ng-click="sendFilter()">Поделиться</button>
                        </div>

                    </div>
                </div>
            </form>
        </details>
        <button class="head_button" ng-click="createVacation()">Добавить отпуск</button>
    </div>
    <div class="filter container_filter">
        <button class="head_button" ng-click="findPage(-1)">PrevPage</button>
        <label for="Page"></label>
        <input class="vvod" type="number" id="Page" value="1"/>
        <button class="head_button" ng-click="findPage(1)">NextPage</button>
        <label for="VacationSize" class="p-head">Количество элементов</label>
        <select class="vvod20" name="VacationSizeSelect" id="VacationSize" ng-model="Filt.size" ng-change="filterUser()">
            <option ng-value="10" value="10" selected>10</option>
            <option ng-value="25" value="25">25</option>
            <option ng-value="50" value="50">50</option>
            <option ng-value="100" value="100">100</option>
            <option ng-value="500" value="500">500</option>
            <option ng-value="1000" value="1000">1000</option>
            <option ng-value="10000" value="10000">10000</option>
        </select>
    </div>
    <h1>Отпуска</h1>
    <table>
        <tr>
            <td class="table_head2">ФИО</td>
            <td class="table_head2">Дата начала отпуска</td>
            <td class="table_head2">Дата конца отпуска</td>
            <td class="table_head2">Кол-во дней отпуска</td>

            <td class="table_head2"></td>
            <td class="table_head2"></td>
            <!--            <td class="table_head2"></td>-->

        </tr>
        <tbody>
        <tr ng-repeat="vacation in VacationList">

            <td ng-if="!vacation.firstName">{{vacation.nikName}}</td>
            <td ng-if="vacation.firstName">{{vacation.lastName}} {{vacation.firstName}}
                {{vacation.patronymic}}
            </td>
            <td>{{vacation.dateStartStr}}</td>
            <td>{{vacation.dateEndStr}}</td>
            <td>{{vacation.days}}</td>
            <td>
                <button ng-click="editVacation(vacation.id)">Изменить</button>
            </td>
            <td>
                <button ng-click="deleteVacation(vacation.id)">Удалить</button>
            </td>
            <!--            <td>-->
            <!--                <button ng-click="deleteWorkTime(user.id)">Удалить</button>-->
            <!--            </td>-->

        </tr>
        </tbody>
    </table>
    <div class="wait_1_2">
        <img ng-if="load" src="../../gif/wait1_2.gif" alt="Лучше ждите" width="300" height="300"/>
    </div>
</div>

<div id="FormEdit" class="div_form container_filter">

    <form novalidate ng-submit="saveVacation()">
        <div class="horiz">
            <label for="UserVacation" class="form_label">ФИО:</label>
            <select class="vvod40mar10" name="UserVacationSelect" id="UserVacation" ng-model="Vacation.nikName">
                <option ng-repeat="user in UserList" ng-value="user.nikName" value="user.nikName">{{user.lastName}}
                    {{user.firstName}} {{user.patronymic}}
                </option>
            </select>

        </div>
        <div class="horiz">
            <label for="DateStart" class="form_label">Дата начала:</label>
            <input class="vvod40mar10" type="date" id="DateStart" step="any"
                                                  ng-model="Vacation.dateStart"/>
            <br>
        </div>
        <div class="horiz">
            <label for="DateEnd" class="form_label">Дата конца:</label>
            <input class="vvod40mar10" type="date" id="DateEnd" step="any"
                                                ng-change="Vacation.days = null"
                                                ng-model="Vacation.dateEnd"/>
            <br>
        </div>
        <div class="horiz">
            <label for="Days" class="form_label">Дней:</label>
            <input class="vvod40mar10" type="number" id="Days" step="1"
                                             ng-change="Vacation.dateEnd = null"
                                             ng-model="Vacation.days"/>
            <br>
        </div>
        <button type="submit" class="button" id="ButtonSaveDown">Сохранить</button>
        <button type="button" ng-click="loadVacation()" class="button">Вернуться к списку</button>

    </form>
</div>