<div id="WorkList" class="head_text_elem">
    <div class="filter container">
        <details class="details_block">
            <summary class="p-head">Фильтр</summary>

            <form novalidate ng-submit="filterWork()" class="filter">
                <div class="filter_block">
                    <div class="horiz">
                        <label for="Name" class="p-head"> Наименование </label>
                        <input class="vvod80" inputmode="text" id="Name"
                               ng-model="Filt.name"/>
                        <br>
                    </div>
                    <div class="horiz">
                        <label for="WorkNameFilter" class="p-head"> Devbo </label>
                        <input class="vvod20" inputmode="text" id="WorkNameFilter"
                               ng-model="Filt.task"/>
                        <label for="CodeSapFilter" class="p-head"> № Sap </label>
                        <input class="vvod20" type="number" inputmode="numeric"
                               id="CodeSapFilter"
                               step="1"
                               ng-model="Filt.codeSap"/>
                        <label for="CodeZiFilter" class="p-head"> ZI- </label>
                        <input class="vvod20" inputmode="text" id="CodeZiFilter"
                               ng-model="Filt.codeZi"/>

                    </div>
                    <div class="horiz">
                        <label for="StageZFilter" class="p-head">Текущий этап ЗИ :</label>
                        <select class="vvod20" name="choice" id="StageZFilter" ng-model="Filt.stageZi">
                            <option ng-value="0" value="0">0</option>
                            <option ng-value="1" value="1">I</option>
                            <option ng-value="2" value="2">II</option>
                            <option ng-value="3" value="3">III</option>
                            <option ng-value="4" value="4">IV</option>
                            <option ng-value="5" value="5">V</option>
                            <option ng-value="15" value="15">В работе</option>
                            <option ng-value="6" value="6">Закрытые</option>
                            <option ng-value="19" value="19">Все</option>
                        </select>
                        <label for="ReleaseFilter" class="p-head">№ Релиза</label>
                        <select class="vvod40mar10" name="choice" id="ReleaseFilter" ng-model="Filt.releaseId">
                            <option ng-repeat="release in ReleaseList" ng-value="release.id" value="release.id">
                                {{release.name}}
                            </option>
                            <option ng-value="" value="">Все</option>
                        </select>

                    </div>
                    <div class="horiz">

                        <button type="submit" class="head_button">Применить</button>
                        <button type="button" class="head_button" ng-click="clearFilter(true)">Сбросить</button>
                        <button type="button" class="head_button" ng-click="sendFilter()">Поделиться</button>

                    </div>
                </div>
            </form>
        </details>
        <button class="head_button" ng-click="createWork()">Создать ЗИ</button>
    </div>
    <div class="filter container_filter">
        <button class="head_button" ng-click="findPage(-1)">PrevPage</button>
        <label for="Page"></label>
        <input class="vvod" type="number" id="Page" value="1"/>
        <button class="head_button" ng-click="findPage(1)">NextPage</button>
        <label for="StageZI" class="p-head">Количество элементов</label>
        <select class="vvod20" name="choice" id="StageZI" ng-model="Filt.size" ng-change="filterWork()">
            <option ng-value="10" value="10">10</option>
            <option ng-value="25" value="25">25</option>
            <option ng-value="50" value="50">50</option>
            <option ng-value="100" value="100">100</option>
            <option ng-value="500" value="500">500</option>
            <option ng-value="1000" value="1000">1000</option>
            <option ng-value="10000" value="10000">10000</option>
        </select>
    </div>
    <h1>Список ЗИ</h1>
    <table>
        <tr>
            <td class="table_head2" rowspan="3">
                <button class="table_head2 button_table" ng-click="workSort('codeSap')"> Код SAP</button>
            </td>
            <td class="table_head2" rowspan="3">
                <button class="table_head2 button_table" ng-click="workSort('codeZI')"> Код Зи</button>
            </td>
            <td class="table_head2" rowspan="3">
                <button class="table_head2 button_table" ng-click="workSort('name')"> Наименование</button>
            </td>
            <td class="table_head2" rowspan="3"> № внутренней задачи (DEVBO)</td>
            <td class="table_head2" rowspan="3"> Краткое описание внутренней задачи</td>
            <td class="table_head3" rowspan="3"> Плановая дата завершения 0 этапа</td>
            <td class="table_head2" rowspan="2" colspan="2"> Дата начала доработки</td>
            <td class="table_head2" colspan="5"> Плановые трудозатраты, чел/час</td>
            <td class="table_head2" colspan="5"> Факт дата завершения этапа</td>
            <td class="table_head3" rowspan="3"> Текущий этап ЗИ</td>
            <td class="table_head2" rowspan="3">
                <button class="table_head2 button_table" ng-click="workSort('releaseId')">Порядковый номер релиза
                </button>
            </td>
            <td class="table_head2" rowspan="2" colspan="2"> Выдача релиза даты</td>
            <td class="table_head2" rowspan="3"></td>
            <td class="table_head2" rowspan="3"></td>
            <td class="table_head2" rowspan="3"></td>


        </tr>
        <tr>
            <td class="table_head2"> 0 этап</td>
            <td class="table_head2"> I этап</td>
            <td class="table_head2"> II этап</td>
            <td class="table_head2"> III этап</td>
            <td class="table_head2"> IV этап</td>

            <td class="table_head2"> 0 этап</td>
            <td class="table_head2"> I этап</td>
            <td class="table_head2"> II этап</td>
            <td class="table_head2"> III этап</td>
            <td class="table_head2"> IV этап</td>


        </tr>

        <tr>
            <td class="table_head2"> План</td>
            <td class="table_head2"> Факт</td>
            <td class="table_head2"> Анализ</td>
            <td class="table_head2"> Разработка прототипа</td>
            <td class="table_head2"> Стабилизация прототипа</td>
            <td class="table_head2"> Стабилизация релиза</td>
            <td class="table_head2"> ОПЭ</td>

            <td class="table_head2"> Согласование требований</td>
            <td class="table_head2"> Разработка прототипа</td>
            <td class="table_head2"> Стабилизация прототипа</td>
            <td class="table_head2"> Стабилизация релиза</td>
            <td class="table_head2"> ОПЭ</td>

            <td class="table_head2"> План</td>
            <td class="table_head2"> Факт</td>

        </tr>
        <tbody>
        <tr ng-repeat="work in WorkList">
            <td>{{work.codeSap}}</td>
            <td class="text_not_wrap">{{work.codeZI}}</td>
            <td class="text_left">
                <button ng-click="addTime(work.id)">{{work.name}}</button>
            </td>
            <td>{{work.task}}</td>
            <td class="text_left">{{work.description}}</td>
            <td class="date">{{work.analiseEndPlan}}</td>
            <td class="date">{{work.startTaskPlan}}</td>
            <td>{{work.startTaskFact}}</td>
            <td>{{work.laborAnalise}}</td>
            <td>{{work.laborDevelop}}</td>
            <td>{{work.laborDebug}}</td>
            <td>{{work.laborRelease}}</td>
            <td>{{work.laborOPE}}</td>

            <td>{{work.analiseEndFact}}</td>
            <td>{{work.developEndFact}}</td>
            <td>{{work.debugEndFact}}</td>
            <td>{{work.releaseEndFact}}</td>
            <td>{{work.opeEndFact}}</td>

            <td>{{work.stageZI}}</td>
            <td>{{work.release}}</td>
            <td class="table_col1">{{work.issuingReleasePlan}}</td>
            <td class="table_col1">{{work.issuingReleaseFact}}</td>
            <td>
                <button ng-click="editWork(work.id)">Изменить</button>
            </td>
            <td>
                <button ng-click="deleteWork(work.id)">Удалить</button>
            </td>
            <td class="text_left">
                <button ng-click="addRate(work.id)">Разбивка</button>
            </td>


        </tr>
        </tbody>
    </table>

</div>

<div id="FormEdit" class="div_form container_filter">
    <form novalidate ng-submit="saveWork()">
        <p class="p-form">{{Resp.message}}</p>
        <button type="submit" class="button" id="ButtonSaveUp">Сохранить</button>
        <button type="button" ng-click="loadWork()" class="button">Вернуться к списку</button>
        <div class="horiz">
            <label for="CodeSap" class="p-form"> Код SAP : </label>
            <input class="vvod40" type="number" inputmode="decimal" id="CodeSap"
                   step="1"
                   ng-model="Work.codeSap"/>
            <br>
            <label for="CodeZI" class="p-form"> № ЗИ (ZI) : </label>
            <input class="vvod40" type="text" id="CodeZI"
                   placeholder="Ведите наименование"
                   ng-model="Work.codeZI"/>
            <br>
        </div>
        <label for="WorkName">Наименование :</label>
        <input class="vvod" type="text" id="WorkName" placeholder="Ведите наименование"
               ng-model="Work.name"/>
        <br>
        <details class="details_block">
            <summary class="p-form">Сроки этапов</summary>
            <p class="p-form">Дата завершения анализа</p>
            <div class="horiz">
                <label for="AnaliseEndPlan" class="p-form"> План : </label>
                <input class="vvod40" type="date" id="AnaliseEndPlan" step="any"
                       ng-model="Work.analiseEndPlan"/>
                <br>
                <label for="AnaliseEndFact" class="p-form">Факт : </label>
                <input class="vvod40" type="date" id="AnaliseEndFact" step="any"
                       ng-model="Work.analiseEndFact"/>
                <br>
            </div>
            <p class="p-form">Дата окончания разработка прототипа </p>
            <div class="horiz">
                <label for="DevelopEndPlan" class="p-form">План: </label>
                <input class="vvod40" type="date" id="DevelopEndPlan" step="any"
                       ng-model="Work.developEndPlan"/>
                <br>
                <label for="DevelopEndFact" class="p-form">Факт:</label>
                <input class="vvod40" type="date" id="DevelopEndFact" step="any"
                       ng-model="Work.developEndFact"/>

                <br>
            </div>
            <p class="p-form">Дата окончания стабилизация прототипа </p>
            <div class="horiz">
                <label for="DebugEndPlan" class="p-form">План:</label>
                <input class="vvod40" type="date" id="DebugEndPlan" step="any"
                       ng-model="Work.debugEndPlan"/>
                <br>
                <label for="DebugEndFact" class="p-form">Факт:</label>
                <input class="vvod40" type="date" id="DebugEndFact" step="any"
                       ng-model="Work.debugEndFact"/>
                <br>
            </div>
            <p class="p-form">Дата окончания стабилизация релиза</p>
            <div class="horiz">
                <label for="ReleaseEndPlan" class="p-form">План:</label>
                <input class="vvod40" type="date" id="ReleaseEndPlan" step="any"
                       ng-model="Work.releaseEndPlan"/>
                <br>
                <label for="ReleaseEndFact" class="p-form">Факт:</label>
                <input class="vvod40" type="date" id="ReleaseEndFact" step="any"
                       ng-model="Work.releaseEndFact"/>
                <br>
            </div>
            <p class="p-form">Дата окончания ОПЭ релиза</p>
            <div class="horiz">
                <label for="OpeEndPlan" class="p-form">План:</label>
                <input class="vvod40" type="date" id="OpeEndPlan" step="any"
                       ng-model="Work.opeEndPlan"/>
                <br>
                <label for="OpeEndFact" class="p-form">Факт:</label>
                <input class="vvod40" type="date" id="OpeEndFact" step="any"
                       ng-model="Work.opeEndFact"/>
                <br>
            </div>
        </details>

        <label for="Task">№ внутренней задачи (DEVBO) :</label>
        <input class="vvod" type="text" id="Task" placeholder="Ведите задачу"
               ng-model="Work.task"/>
        <br>

        <label for="Description">Краткое описание внутренней задачи :</label>
        <input class="vvod" type="text" id="Description"
               placeholder="Ведите описание"
               ng-model="Work.description"/>
        <br>

        <details class="details_block">
            <summary class="p-form">Плановые трудозатраты</summary>
            <p class="p-form">, чел/час</p>
            <div class="horiz">
                <label for="LaborAnalise" class="p-form20">Анализ :</label>
                <label for="LaborDevelop" class="p-form20">Разработка прототипа :</label>
                <label for="LaborDebug" class="p-form20">Стабилизация прототипа :</label>
                <label for="LaborRelease" class="p-form20">Стабилизация релиза :</label>
                <label for="LaborOPE" class="p-form20">ОПЭ :</label>
            </div>
            <div class="horiz">
                <input class="vvod20mar" type="number" inputmode="decimal"
                       id="LaborAnalise" step="1"
                       ng-model="Work.laborAnalise" readonly/>
                <br>
                <input class="vvod20mar" type="number" inputmode="decimal"
                       id="LaborDevelop" step="1"
                       ng-model="Work.laborDevelop" readonly/>
                <br>
                <input class="vvod20mar" type="number" inputmode="decimal"
                       id="LaborDebug" step="1"
                       ng-model="Work.laborDebug" readonly/>
                <br>
                <input class="vvod20mar" type="number" inputmode="decimal"
                       id="LaborRelease" step="1"
                       ng-model="Work.laborRelease" readonly/>
                <br>
                <input class="vvod20mar" type="number" inputmode="decimal" id="LaborOPE"
                       step="1"
                       ng-model="Work.laborOPE" readonly/>
                <br>
            </div>
        </details>
        <div class="horiz">
            <label for="StageZEdit" class="p-form">Текущий этап ЗИ :</label>
            <select class="vvod20" name="choice" id="StageZEdit" ng-model="Work.stageZI">
                <option ng-value="0" value="0" selected>0</option>
                <option ng-value="1" value="1">I</option>
                <option ng-value="2" value="2">II</option>
                <option ng-value="3" value="3">III</option>
                <option ng-value="4" value="4">IV</option>
                <option ng-value="5" value="5">V</option>
                <option ng-value="6" value="6">END</option>
            </select>
            <br>
            <label for="Release" class="p-form">Порядковый номер релиза :</label>
            <select class="vvod40mar10" name="choice" id="Release" ng-model="Work.releaseId"
                    ng-disabled="releaseOption(Work)">
                <option ng-repeat="release in ReleaseList" ng-disabled="releaseOption(release)" ng-value="release.id"
                        value="release.id">
                    {{release.name}}
                </option>
                <option ng-value="" value="">
                </option>
            </select>
            <br>
        </div>
        <details class="details_block">
            <summary class="p-form">Сроки начала и конца ЗИ</summary>

            <p class="p-form">Дата начала доработки </p>
            <div class="horiz">
                <label for="StartTaskPlan" class="p-form">План:</label>
                <input class="vvod40" type="date" id="StartTaskPlan" step="any"
                       ng-model="Work.startTaskPlan"/>
                <br>
                <label for="StartTaskFact" class="p-form">Факт:</label>
                <input class="vvod40" type="date" id="StartTaskFact" step="any"
                       ng-model="Work.startTaskFact"/>
                <br>
            </div>
            <p class="p-form">Выдача релиза даты</p>
            <div class="horiz">
                <label for="IssuingReleasePlan" class="p-form">План:</label>
                <input class="vvod40" type="date" id="IssuingReleasePlan" step="any"
                       ng-model="Work.issuingReleasePlan" readonly/>
                <br>
                <label for="IssuingReleaseFact" class="p-form">Факт:</label>
                <input class="vvod40" type="date" id="IssuingReleaseFact" step="any"
                       ng-model="Work.issuingReleaseFact" readonly/>
                <br>
            </div>
        </details>
        <button type="submit" class="button" id="ButtonSaveDown">Сохранить</button>
        <button type="button" ng-click="loadWork()" class="button">Вернуться к списку</button>
    </form>


</div>