<div id="WorkList" class="headtextelem">
  <div class="filter">
    <form novalidate ng-submit="filterWork()" ; class="filter">
<!--      <input class="vvod" type="number" inputmode="decimal" id="WorkId" step="any" ng-model="Filt.workId"/>-->
<!--      <br>-->
<!--      <input class="vvod" type="number" inputmode="decimal" id="DateLE" value="1" ng-model="Filt.dateLe"/>-->

<!--      <p class="p-head"> <= Цена <= </p>-->
<!--      <input class="vvod" type="number" inputmode="decimal" id="DateGe" step="any" ng-model="Filt.dateGe"/>-->
      <p class="p-head"> Наименование </p> <input class="vvod80" inputmode="text" id="Name" ng-model="Filt.name"/>
<!--                <input  type="hidden" id="wwwwId" />-->
      <br>
      <button type="submit" class="headbutton">Применить</button>

    </form>
    <button class="headbutton" ng-click="createWork()">Создать ЗИ</button>
  </div>
  <div class="filter">
    <button class="headbutton" ng-click="findPage(-1)">PrevPage</button>
    <input class="vvod" type="number" id="Page" value="1"/>
    <button class="headbutton" ng-click="findPage(1)">NextPage</button>
  </div>
  <h1>Задачи</h1>
  <table>
    <tr>
      <td class="tablehead2" rowspan="3"><button class="tablehead2 buttontable" ng-click="workSort('codeSap')">  Код SAP </button></td>
      <td class="tablehead2" rowspan="3"><button class="tablehead2 buttontable" ng-click="workSort('codeZI')"> Код Зи </button></td>
      <td class="tablehead2" rowspan="3"><button class="tablehead2 buttontable" ng-click="workSort('name')"> Наименование </button> </td>
      <td class="tablehead2" rowspan="3"> № внутренней задачи (DEVBO) </td>
      <td class="tablehead2" rowspan="3"> Краткое описание внутренней задачи </td>
      <td class="tablehead3" rowspan="3"> Плановая дата завершения 0 этапа </td>
      <td class="tablehead2" rowspan="2" colspan="2"> Дата начала доработки </td>
      <td class="tablehead2" colspan="4"> Плановые трудозатраты, чел/час </td>
      <td class="tablehead2" colspan="5"> Факт дата завершения этапа </td>
      <td class="tablehead3" rowspan="3"> Текущий этап ЗИ </td>
      <td class="tablehead2" rowspan="3"> Порядковый номер релиза </td>
      <td class="tablehead2" rowspan="2" colspan="2"> Выдача релиза даты </td>
      <td class="tablehead2" rowspan="3"> </td>
      <td class="tablehead2" rowspan="3"> </td>


    </tr>
    <tr>
      <td class="tablehead2"> I этап </td>
      <td class="tablehead2"> II этап </td>
      <td class="tablehead2"> III этап </td>
      <td class="tablehead2"> IV этап </td>

      <td class="tablehead2"> 0 этап </td>
      <td class="tablehead2"> I этап </td>
      <td class="tablehead2"> II этап </td>
      <td class="tablehead2"> III этап </td>
      <td class="tablehead2"> IV этап </td>


    </tr>

    <tr>
      <td class="tablehead2"> План </td>
      <td class="tablehead2"> Факт </td>
      <td class="tablehead2"> Разработка прототипа </td>
      <td class="tablehead2"> Стабилизация прототипа </td>
      <td class="tablehead2"> Стабилизация релиза </td>
      <td class="tablehead2"> ОПЭ </td>

      <td class="tablehead2"> Согласование требований </td>
      <td class="tablehead2"> Разработка прототипа </td>
      <td class="tablehead2"> Стабилизация прототипа </td>
      <td class="tablehead2"> Стабилизация релиза </td>
      <td class="tablehead2"> ОПЭ </td>

      <td class="tablehead2"> План </td>
      <td class="tablehead2"> Факт </td>

    </tr>
    <tbody>
      <tr ng-repeat="work in WorkList">
        <td>{{work.codeSap}}</td>
        <td>{{work.codeZI}}</td>
        <td><button ng-click="addTime(work.id)">{{work.name}}</button></td>
        <td>{{work.task}}</td>
        <td>{{work.description}}</td>
        <td type="date">{{work.planDateStage0}}</td>
        <td class="date">{{work.startTaskPlan}}</td>
        <td><time datetime="{{work.startTaskFact}}">{{work.startTaskFact}}</time></td>
        <td>{{work.laborDevelop}}</td>
        <td>{{work.laborDebug}}</td>
        <td>{{work.laborRelease}}</td>
        <td>{{work.laborOPE}}</td>

        <td>{{work.dateStartDevelop}}</td>
        <td>{{work.dateStartDebug}}</td>
        <td>{{work.dateStartRelease}}</td>
        <td>{{work.dateStartOPE}}</td>
        <td>{{work.dateStartWender}}</td>

        <td>{{work.stageZI}}</td>
        <td>{{work.release}}</td>
        <td class="tablecol1">{{work.issuingReleasePlan}}</td>
        <td class="tablecol1">{{work.issuingReleaseFact}}</td>
        <td>
          <button ng-click="editWork(work.id)">Изменить</button>
        </td>
        <td>
          <button ng-click="deleteWork(work.id)">Удалить</button>
        </td>

      </tr>
    </tbody>
  </table>

</div>

<div id="FormEdit" class="divform">
  <form novalidate ng-submit="saveWork()">
    Код SAP : <input class="vvod" type="number" inputmode="decimal" id="CodeSap" step="1"
                                                                 ng-model="Work.codeSap"/>
    <br>
    № ЗИ (ZI) : <input class="vvod" type="text" id="CodeZI" placeholder="Ведите наименование"
                          ng-model="Work.codeZI"/>
    <br>
    Наименование : <input class="vvod" type="text" id="WorkName" placeholder="Ведите наименование"
                          ng-model="Work.name"/>
    <br>
    Дата разработка прототипа план: <input class="vvod" type="date"  id="StartDevelopPlan" step="any"
                                      ng-model="Work.dateStartDevelopPlan"/>
    <br>
    Дата разработка прототипа факт: <input class="vvod" type="date"  id="StartDevelop" step="any"
                                      ng-model="Work.dateStartDevelop"/>
    <!--                <input  type="hidden" id="ProductId" />-->
    <br>
    Дата стабилизация прототипа план: <input class="vvod" type="date" id="StartDebugPlan" step="any"
                                      ng-model="Work.dateStartDebugPlan"/>
    <br>
    Дата стабилизация прототипа факт: <input class="vvod" type="date" id="StartDebug" step="any"
                                        ng-model="Work.dateStartDebug"/>
    <br>
    Дата стабилизация релиза план: <input class="vvod" type="date" id="StartReleasePlan" step="any"
                                     ng-model="Work.dateStartReleasePlan"/>
    <br>
    Дата стабилизация релиза факт: <input class="vvod" type="date" id="StartRelease" step="any"
                                     ng-model="Work.dateStartRelease"/>
    <br>
    Дата ОПЭ релиза план: <input class="vvod" type="date" id="StartOPEPlan" step="any"
                                        ng-model="Work.dateStartOPEPlan"/>
    <br>
    Дата ОПЭ релиза факт: <input class="vvod" type="date" id="StartOPE" step="any"
                            ng-model="Work.dateStartOPE"/>
    <br>
    Дата вендерка план: <input class="vvod" type="date" id="StartWenderPlan" step="any"
                          ng-model="Work.dateStartWenderPlan"/>
    <br>
    Дата вендерка факт: <input class="vvod" type="date" id="StartWender" step="any"
                          ng-model="Work.dateStartWender"/>
    <br>
    № внутренней задачи (DEVBO) : <input class="vvod" type="text" id="Task" placeholder="Ведите задачу"
                          ng-model="Work.task"/>
    <br>
    Краткое описание внутренней задачи : <input class="vvod" type="text" id="Description" placeholder="Ведите описание"
                                         ng-model="Work.description"/>
    <br>
    Плановая дата завершения 0 этапа   : <input class="vvod" type="date" id="PlanDateStage0" step="any"
                                             ng-model="Work.planDateStage0"/>
    <br>
    Фактическая дата завершения 0 этапа: <input class="vvod" type="date" id="FactDateStage0" step="any"
                                             ng-model="Work.factDateStage0"/>
    <br>
    Дата начала доработки План: <input class="vvod" type="date" id="StartTaskPlan" step="any"
                                             ng-model="Work.startTaskPlan"/>
    <br>
    Дата начала доработки Факт: <input class="vvod" type="date" id="StartTaskFact" step="any"
                                             ng-model="Work.startTaskFact"/>
    <br>
    Плановые трудозатраты, чел/час Разработка прототипа : <input class="vvod" type="number" inputmode="decimal" id="LaborDevelop" step="1"
                                                                 ng-model="Work.laborDevelop"/>
    <br>
    Плановые трудозатраты, чел/час Стабилизация прототипа : <input class="vvod" type="number" inputmode="decimal" id="LaborDebug" step="1"
                                                                 ng-model="Work.laborDebug"/>
    <br>
    Плановые трудозатраты, чел/час Стабилизация релиза : <input class="vvod" type="number" inputmode="decimal" id="LaborRelease" step="1"
                                                                 ng-model="Work.laborRelease"/>
    <br>
    Плановые трудозатраты, чел/час ОПЭ : <input class="vvod" type="number" inputmode="decimal" id="LaborOPE" step="1"
                                                                 ng-model="Work.laborOPE"/>
    <br>
    Текущий этап ЗИ : <select class="vvod" name="choice" id="StageZI" ng-model="Work.stageZI">
      <option ng-value="0" value="0" selected>0</option>
      <option ng-value="1" value="1" >I</option>
      <option ng-value="2" value="2">II</option>
      <option ng-value="3" value="3">III</option>
      <option ng-value="4" value="4">IV</option>
      <option ng-value="5" value="5">V</option>
      <option ng-value="6" value="6">END</option>
    </select>
    <br>
    Порядковый номер релиза : <input class="vvod" type="text" id="Release" placeholder="Ведите номер релиза"
                                                ng-model="Work.release"/>
    <br>
    Выдача релиза даты План: <input class="vvod" type="date" id="IssuingReleasePlan" step="any"
                                       ng-model="Work.issuingReleasePlan"/>
    <br>
    Выдача релиза даты Факт: <input class="vvod" type="date" id="IssuingReleaseFact" step="any"
                                       ng-model="Work.issuingReleaseFact"/>
    <br>




    <button type="submit" class="button">Сохранить</button>
    <button type="reset" ng-click="loadWork()" class="button">Вернуться к списку</button>
  </form>


</div>