<div id="WorkTimeList" class="headtextelem">
    <div class="filter container">
        <details class="detailsblock">
            <summary class="p-head">Фильтр</summary>
            <form novalidate ng-submit="filterWorkTime()" ; class="filter">
                <div class="filter">
                    <div class="filterblock">

                        <div class="horiz">
                            <p class="p-form">ФИО</p>

                            <select class="vvod40 mar5" name="choice" id="User" ng-model="Filt.nikName">
                                <option ng-repeat="user in UserList" ng-value="user.nikName" value="user.nikName">
                                    {{user.lastName}}
                                    {{user.firstName}} {{user.patronymic}}
                                </option>
                                <option ng-repeat="role in RoleList" ng-value="'ROLE_' + role.code"
                                        value="'ROLE_' + role.code">
                                    {{role.name}}
                                </option>

                                <option ng-value="" value="">Все</option>

                            </select>

                            <p class="p-head">Разбивка по периодам</p>
                            <select class="vvod40 mar5" name="choice" id="Period" ng-model="Filt.period">
                                <option ng-value="1" value="1">Дни</option>
                                <option ng-value="2" value="2">Недели по дням</option>
                                <option ng-value="3" value="3">Недели</option>
                                <option ng-value="4" value="4">Месяц</option>
                                <option ng-value="5" value="5">Месяц по дням</option>
                                <option ng-value="6" value="6">Месяц по неделям</option>
                                <option ng-value="7" value="7">3 Месяц</option>
                                <option ng-value="8" value="8">3 Месяц по дням</option>
                                <option ng-value="9" value="9">3 Месяц по неделям</option>
                                <option ng-value="10" value="10">Год</option>
                                <option ng-value="11" value="11">Год по дням</option>
                                <option ng-value="12" value="12">Год по неделям</option>

                            </select>
                        </div>
                        <div class="horiz">
                            <input class="vvod20" type="date" id="DateStart" step="any" ng-model="Filt.dateStart"/>
                            <p class="p-head"> <= Дата <= </p>
                            <input class="vvod20" type="date" id="DateEnd" step="any" ng-model="Filt.dateEnd"/>
                            <!--                <input  type="hidden" id="taskId" />-->
                            <br>
                            <button type="submit" class="headbutton">Применить</button>
                            <button type="button" class="headbutton" ng-click="clearFilter(true)">Сбросить</button>
                            <button type="button" class="headbutton" ng-click="sendFilter()">Поделиться</button>
                        </div>

                    </div>
                </div>
            </form>
        </details>
    </div>
    <h1>Работы за период</h1>
    <div>
        <div class="wrapper">
            <table>
                <thead>
                <tr>
                    <td class="sticky-col first-col">ФИО</td>
                    <td ng-repeat="work in WeekWorkList" ng-style="getStyle(work.time)">
                        {{work.period}}
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in UserPeriodList">
                    <td class="sticky-col first-col">{{user.lastName}} {{user.firstName}} {{user.patronymic}}</td>
                    <td ng-repeat="work in user.weekWorkDtos" ng-style="getStyleUserPeriod(work)">
                        {{work.time}}

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

