<div id="WorkTimeList" class="headtextelem">
    <div class="filter container">
        <details class="detailsblock">
            <summary class="p-head">Фильтр</summary>
            <form novalidate ng-submit="filterWorkTime()" ; class="filter">
                <div class="filter">
                    <div class="filterblock">

                        <div class="horiz">
                            <p class="p-form">ФИО</p>

                            <select class="vvod40 mar5" name="choice" id="User" ng-model="Filt.nikName">
                                <option ng-repeat="user in UserList" ng-value="user.nikName" value="user.nikName">{{user.lastName}}
                                    {{user.firstName}} {{user.patronymic}}
                                </option>
                                <option ng-value="" value="">Все</option>

                            </select>

                            <p class="p-head">Разбивка по неделям</p> <input class="vvod20" type="checkbox"
                                                                             id="WeekSplit"
                                                                             ng-model="Filt.weekSplit"/>
                        </div>
                        <div class="horiz">
                            <input class="vvod30" type="date" id="DateStart" step="any" ng-model="Filt.dateStart"/>
                            <p class="p-head"> <= Дата <= </p>
                            <input class="vvod30" type="date" id="DateEnd" step="any" ng-model="Filt.dateEnd"/>
                            <!--                <input  type="hidden" id="taskId" />-->
                            <br>
                            <button type="submit" class="headbutton">Применить</button>
                            <button type="button" class="headbutton" ng-click="clearFilter(true)">Сбросить</button>

                        </div>

                    </div>
                </div>
            </form>
        </details>
    </div>
    <h1>Факт загрузки </h1>
    <table>
        <tr>
            <td class="tablehead1" rowspan="2">№ п/п</td>
            <td class="tablehead2  twodate" rowspan="2">Период</td>
            <td class="tablehead1 fieldfio" rowspan="2">Исполнитель</td>
            <td class="tablehead2" colspan="{{TaskListType.length}}">Факт трудозатрат, чел/час</td>
            <td class="tablehead1 weekworkpalntime" rowspan="2">Плановые трудозатраты за период, чел/час</td>
            <td class="tablehead2" rowspan="2">Итого за период</td>
        </tr>
        <tr>
            <td class="tablehead2 weekworkpalntime" ng-repeat="taskType in TaskListType">{{taskType.value}}</td>
<!--            <td class="tablehead2">Устранение проблем вендорных запросов</td>-->
<!--            <td class="tablehead1">Административные</td>-->


        </tr>
<!--        <tr>-->
<!--            <td class="tablehead1">Факт</td>-->
<!--            <td class="tablehead2">Факт</td>-->
<!--            <td class="tablehead1">Факт</td>-->
<!--        </tr>-->

        <tbody>
        <tr ng-repeat="work in WeekWorkList">
            <td>{{$index + 1}}</td>
            <td rowspan="{{work.userCol}}" ng-if="work.userCol != null">{{work.dateStart}} - {{work.dateEnd}}</td>
            <td ng-if="!work.authorFirstName">{{work.nikName}}</td>
            <td ng-if="work.authorFirstName">{{work.authorLastName}} {{work.authorFirstName}}
                {{work.authorPatronymic}}
            </td>
            <td ng-repeat="taskType in TaskListType">{{searchJson(work.workTime,"codeInt",taskType.codeInt,"value")}}</td>
<!--            <td>{{work.workZiFact;}}</td>-->
<!--            <td>{{work.workWenderFact}}</td>-->
<!--            <td>{{work.workAdminFact}}</td>-->
            <td rowspan="{{work.userCol}}" ng-if="work.userCol != null">{{work.workPlan}}</td>
            <td>{{work.workAllFact}}</td>
        </tr>
        </tbody>
    </table>

</div>

