<div id="RoleList" class="head_text_elem">
    <p class="p-head">{{Role.code}} {{Role.name}} </p>
    <div class="horiz">
        <button ng-if="Role" type="button" class="head_button" ng-click="saveRole()">Сохранить</button>
        <button type="button" class="head_button" ng-click="backRole()">Назад</button>
    </div>
    <h1>Список прав роли</h1>


    <table>
        <tr>
            <td class="table_head2">Код</td>
            <td class="table_head2">Название</td>
            <td class="table_head2"></td>
            <!--            <td class="table_head2"></td>-->

        </tr>
        <tbody>
        <tr ng-repeat="right in Role.rights">

            <td>{{right.code}}</td>
            <td>{{right.name}}</td>
            <td>
                <label for="checkBox" class="p-filter"></label>

                <input id="checkBox"  class="vvod20" type="checkbox" ng-model="right.active"/>


            </td>

        </tr>
        </tbody>
    </table>
    <div class="wait_1_2">
        <img ng-if="load" src="../../gif/wait1_2.gif" alt="Лучше ждите" width="300" height="300"/>
    </div>
</div>
