<div id="RoleList" class="head_text_elem">
    <div class="filter container_filter">
        <details class="details_block">
            <summary class="p-head">Фильтр</summary>

            <form novalidate ng-submit="filterRole()" class="filter">
                <div class="filter">
                    <div class="filter_block">

                        <div class="horiz">
                            <label for="CodeFilter" class="p-head">Код:</label>
                            <input class="vvod30mar" type="text" id="CodeFilter"
                                                                   ng-model="Filt.code"/>
                            <label for="NameFilter" class="p-head">Наименование:</label>
                            <input class="vvod30mar" type="text" id="NameFilter"
                                   ng-model="Filt.name"/>
                        </div>
                        <button type="submit" class="head_button" id="FilterButton">Применить</button>
                        <button type="button" class="head_button" ng-click="clearFilter(true)">Сбросить</button>
                    </div>
                </div>
            </form>
        </details>
        <button class="head_button" ng-click="createRole()">Добавить группу</button>

    </div>

    <h1>Список ролей</h1>
    <table>
        <tr>
            <td class="table_head2">Код</td>
            <td class="table_head2">Наименвание</td>

            <td class="table_head2"></td>
            <td class="table_head2"></td>
            <td class="table_head2"></td>

        </tr>
        <tbody>
        <tr ng-repeat="role in RoleList">

            <td>{{role.code}}</td>
            <td>{{role.name}}</td>
            <td>
                <button ng-click="editRight(role.id)">Права</button>
            </td>
            <td>
                <button ng-click="editRole(role.id)">Изменить</button>
            </td>
            <td>
                <button ng-click="deleteRole(role.id)">Удалить</button>
            </td>

        </tr>
        </tbody>
    </table>
    <div class="wait_1_2">
        <img ng-if="load" src="../../gif/wait1_2.gif" alt="Лучше ждите" width="300" height="300"/>
    </div>
</div>

<div id="FormEdit" class="div_form container_filter">

    <form novalidate ng-submit="saveRole()">
        <div class="horiz">
            <label for="CodeEdit" class="form_label">Код:</label>
            <input class="vvod80mar10" type="text" id="CodeEdit" step="any"
                                                   ng-model="Role.code"/>
            <br>
        </div>
        <div class="horiz">
            <label for="NaneEdit" class="form_label">Наименование:</label>
            <input class="vvod80mar10" type="text" id="NaneEdit" step="any"
                                                   ng-model="Role.name"/>
            <br>
        </div>
        <button type="submit" class="button" id="ButtonSaveDown">Сохранить</button>
        <button type="button" ng-click="loadRole()" class="button">Вернуться к списку</button>

    </form>
</div>