<div id="WorkTimeList" class="headtextelem">
    <div class="filter container">
        <details class="detailsblock">
            <summary class="p-head">Фильтр</summary>
            <form novalidate ng-submit="filterWorkTime()" ; class="filter">
                <div class="filter">
                    <div class="filterblock">

                        <div class="horiz">
                            <p class="p-form">ФИО</p>

                            <select class="vvod40 mar5" name="choice" id="User" ng-model="Filt.nikName">
                                <option ng-repeat="user in UserList" ng-value="user.nikName" value="user.nikName">
                                    {{user.lastName}}
                                    {{user.firstName}} {{user.patronymic}}
                                </option>

                                <option ng-value="" value="">Мои</option>

                            </select>

                            <p class="p-head">Разбивка по периодам</p>
                            <select class="vvod40 mar5" name="choice" id="Period" ng-model="Filt.period">
                                <option ng-value="1" value="1">Дни</option>
                                <option ng-value="2" value="2">Недели по дням</option>
                                <option ng-value="3" value="3">Недели</option>

                            </select>
                        </div>
                        <div class="horiz">
                            <input class="vvod20" type="date" id="DateStart" step="any" ng-model="Filt.dateStart"/>
                            <p class="p-head"> <= Дата <= </p>
                            <input class="vvod20" type="date" id="DateEnd" step="any" ng-model="Filt.dateEnd"/>
                            <!--                <input  type="hidden" id="taskId" />-->
                            <br>
                            <button type="submit" class="headbutton">Применить</button>
                            <button type="button" class="headbutton" ng-click="clearFilter(true)">Сбросить</button>

                        </div>

                    </div>
                </div>
            </form>
        </details>
    </div>
    <h1>Работы за период</h1>
    <table>
        <tr>
            <td>ФИО</td>
            <td ng-repeat="work in WeekWorkList" ng-style="getStyle(work.time)">
                {{work.period}}
            </td>
        </tr>

        <tbody>
        <tr ng-repeat="user in UserPeriodList">
            <td>{{user.lastName}} {{user.firstName}} {{user.patronymic}}</td>
            <td ng-repeat="work in user.workPeriodDTOs" class="tdtop">
                <div ng-repeat="task in work.list" class="tdtask">
                    <p>{{task.taskCodeBTS}}
                    {{task.taskCodeDEVBO}}
                     {{task.comment}} {{task.workTime}}ч</p>
                </div>

            </td>
        </tr>
        </tbody>
    </table>

</div>

