<div id="UserList" class="head_text_elem">
    <h1>Отправка уведомлений</h1>
    <form ng-submit="sendMessage()">
        <div class="horiz">
            <button type="submit" class="head_button">Отправить</button>
            <button type="button" class="head_button" ng-click="backUser()">Назад</button>
        </div>
        <div class="horiz">
            <label for="UpdateType">Сервисы для обновления</label>
            <select multiple class="vvod40 mar5" name="UpdateType" id="UpdateType" ng-model="FormFile.type">

                <option ng-repeat="type in UpdateTypes" ng-value="type.code" value="type.code">
                    {{type.value}}
                </option>
                <option ng-value=null value="">Все</option>
            </select>
        </div>
        <div class="horiz">
            <label for="UpdateTimestamp" class="p-form">Дата и время обновления</label>
            <input class="vvod" type="datetime-local" id="UpdateTimestamp" step="any"
                   ng-model="FormFile.dateUpdate"/>
        </div>
        <div class="horiz">
            <label for="UpdateText">
                Обновления:
            </label>
            <p><textarea id="UpdateText" class="vvod check_box_td" ng-model="FormFile.desc"
                         placeholder="Введите сообщение"></textarea></p>
        </div>
        <div ng-if="sendMessageForAll" class="div_process">
            <div class="div_percent" ng-style="getProcess()">
                <p class="div_process_text">{{uploadProgress}}</p>
            </div>
        </div>
        <div class="horiz">
            <label for="file1">Выберите файл:</label>

            <div class="block-list">
                <input type="file" id="file1" class="file-input" accept=".7z, .7z.*" file-model="FormFile.files"
                       multiple="multiple"/>

            </div>

        </div>
    </form>
</div>
