<div id="UserList" class="head_text_elem">
    <h1>Отправка уведомлений</h1>
    <form ng-submit="sendMessage()">
        <div class="horiz">
            <button type="submit" class="head_button">Отправить</button>
            <button type="button" class="head_button" ng-click="backUser()">Назад</button>
        </div>

        <!--    <label for="MesType"></label>-->
        <!--    <select required class="vvod40 mar5" name="mesType" id="MesType" ng-model="Message.type" >-->
        <!--        <option value="">&#45;&#45;Выберите тип сообщения&#45;&#45;</option>-->
        <!--        <option ng-repeat="type in InfoTypes" ng-value="type.code" value="type.code">-->
        <!--            {{type.name}}-->
        <!--        </option>-->
        <!--    </select>-->
        <label for="MesText">
            Сообщение:
        </label>
        <p><textarea id="MesText" class="vvod check_box_td" ng-model="Message.text" required
                     placeholder="Введите сообщение"></textarea></p>
        <label for="file">Выберите файл:</label>
        <input type="file" id="file" class="file-input" accept=".png, .jpg, .jpeg" file-model = "Message.fileToUpload" />
    </form>
</div>
