<div id="UserList" class="head_text_elem">
    <ul class="container">
        <li class="nav-item"><a class="nav-link" href="#!/vacation">Отпуска</a></li>
        <li class="nav-item"><a class="nav-link" href="#!/uservacation">График отпусков</a></li>
    </ul>
    <div class="filter container_filter">
        <details class="details_block">
            <summary class="p-head">Фильтр</summary>

            <form novalidate ng-submit="filterUser()" class="filter">
                <div class="filter">
                    <div class="filter_block">

                        <div class="horiz">
                            <label for="UserLoginFilter" class="p-head">Логин:</label>
                            <input class="vvod30mar" type="text" id="UserLoginFilter"
                                   ng-model="Filt.nikName"/>
                            <label for="LastNameFilter" class="p-head">Фамилия:</label>
                            <input class="vvod30mar" type="text" id="LastNameFilter"
                                   ng-model="Filt.lastName"/>
                        </div>
                        <div class="horiz">
                            <label for="FirstNameFilter" class="p-head">Имя:</label>
                            <input class="vvod30mar" type="text" id="FirstNameFilter"
                                   ng-model="Filt.firstName"/>
                            <label for="PatronymicFilter" class="p-head">Отчество:</label>
                            <input class="vvod30mar" type="text" id="PatronymicFilter"
                                   ng-model="Filt.patronymic"/>
                        </div>
                        <button type="submit" class="head_button" id="FilterButton">Применить</button>
                        <button type="button" class="head_button" ng-click="clearFilter(true)">Сбросить</button>
                    </div>
                </div>
            </form>
        </details>
        <button class="head_button" ng-click="createUser()">Добавить пользователя</button>
    </div>
    <div class="filter container_filter">
        <button class="head_button" ng-click="findPage(-1)">PrevPage</button>
        <label for="Page"></label>
        <input class="vvod" type="number" id="Page" value="1"/>
        <button class="head_button" ng-click="findPage(1)">NextPage</button>
        <label for="UserSize" class="p-head">Количество элементов</label>
        <select class="vvod20" name="UserSizeSelect" id="UserSize" ng-model="Filt.size" ng-change="filterUser()">
            <option ng-value="10" value="10" selected>10</option>
            <option ng-value="25" value="25">25</option>
            <option ng-value="50" value="50">50</option>
            <option ng-value="100" value="100">100</option>
            <option ng-value="500" value="500">500</option>
            <option ng-value="1000" value="1000">1000</option>
            <option ng-value="10000" value="10000">10000</option>
        </select>
    </div>
    <h1>Список пользователей</h1>
    <table>
        <tr>
            <td class="table_head2">Логин</td>
            <td class="table_head2">Фамилия</td>
            <td class="table_head2">Имя</td>
            <td class="table_head2">Отчество</td>

            <td class="table_head2"></td>
            <td class="table_head2"></td>
            <!--            <td class="table_head2"></td>-->

        </tr>
        <tbody>
        <tr ng-repeat="user in UserList">

            <td>{{user.nikName}}</td>
            <td>{{user.lastName}}</td>
            <td class="text_left">{{user.firstName}}</td>
            <td class="text_left">{{user.patronymic}}</td>
            <td>
                <button ng-click="editRole(user.id)">Роли</button>
            </td>
            <td>
                <button ng-click="editUser(user.id)">Изменить</button>
            </td>
            <!--            <td>-->
            <!--                <button ng-click="deleteWorkTime(user.id)">Удалить</button>-->
            <!--            </td>-->

        </tr>
        </tbody>
    </table>

</div>

<div id="FormEdit" class="div_form container_filter">

    <form novalidate ng-submit="saveUser()">
        <div class="horiz">
            <label for="NikName" class="form_label">Логин:</label>
            <input class="vvod80mar10" type="text" id="NikName" step="any"
                   ng-model="User.nikName"/>
            <br>
        </div>
        <div class="horiz">
            <label for="TextPassword" class="form_label">Пароль текст:</label>
            <input class="vvod40mar10" type="text" id="TextPassword"
                   step="any"
                   ng-model="User.textPassword"/>
            <button class="head_button" type="button" ng-click="genHash()" id="GenHash">Сгенерить хаш</button>
            <br>
        </div>
        <div class="horiz">
            <label for="UserPassword" class="form_label">Пароль Hash bcrypt:</label>
            <input class="vvod80mar10" type="text" id="UserPassword"
                   step="any"
                   ng-model="User.userPassword"/>
            <br>
        </div>
        <div class="horiz">
            <label for="LastName" class="form_label">Фамилия:</label>
            <input class="vvod80mar10" type="text" id="LastName" step="any"
                   ng-model="User.lastName"/>
            <br>
        </div>
        <div class="horiz">
            <label for="CurrentUser" class="form_label">Сменить пароль при входе</label>
            <input class="vvod20" type="checkbox"
                   id="CurrentUser"
                   ng-model="User.passwordChange"/>
        </div>
        <div class="horiz">
            <label for="FirstName" class="form_label">Имя:</label>
            <input class="vvod80mar10" type="text" id="FirstName" step="any"
                                                  ng-model="User.firstName"/>
            <br>
        </div>
        <div class="horiz">
            <label for="Patronymic" class="form_label">Отчество:</label>
            <input class="vvod80mar10" type="text" id="Patronymic" step="any"
                                                       ng-model="User.patronymic"/>
            <br>
        </div>
        <button type="submit" class="button" id="ButtonSaveDown">Сохранить</button>
        <button type="button" ng-click="loadUser()" class="button">Вернуться к списку</button>

    </form>
</div>