<div id="UserList" class="headtextelem">
    <p class="p-head">{{User.lastName}} {{User.firstName}} {{User.patronymic}}</p>
    <div class="horiz">
        <button ng-if="User" type="button" class="headbutton" ng-click="saveUser()">Сохранить</button>
        <button type="button" class="headbutton" ng-click="backUser()">Назад</button>
    </div>
    <h1>Список ролей пользователя</h1>


    <table>
        <tr>
            <td class="tablehead2">Код</td>
            <td class="tablehead2">Название</td>
            <td class="tablehead2"></td>
            <!--            <td class="tablehead2"></td>-->

        </tr>
        <tbody>
        <tr ng-repeat="role in User.roles">

            <td>{{role.code}}</td>
            <td>{{role.name}}</td>
            <td>
                <input class="vvod20" type="checkbox" ng-model="role.active"/>

            </td>

        </tr>
        </tbody>
    </table>

</div>
