<div id="UserList" class="head_text_elem">
    <p class="p-head">{{User.lastName}} {{User.firstName}} {{User.patronymic}}</p>
    <div class="horiz">
        <button ng-if="User" type="button" class="head_button" ng-click="saveUser()">Сохранить</button>
        <button type="button" class="head_button" ng-click="backUser()">Назад</button>
    </div>
    <h1>Список ролей пользователя</h1>


    <table>
        <tr>
            <td class="table_head2">Код</td>
            <td class="table_head2">Название</td>
            <td class="table_head2"></td>
            <!--            <td class="table_head2"></td>-->

        </tr>
        <tbody>
        <tr ng-repeat="role in User.roles">

            <td>{{role.code}}</td>
            <td>{{role.name}}</td>
            <td>
                <label for="RoleActive"></label>
                <input id="RoleActive" class="vvod20" type="checkbox" ng-model="role.active"/>

            </td>

        </tr>
        </tbody>
    </table>
    <div>
        <img ng-if="load" src="../../gif/wait1.gif" alt="wait1" width="900" height="506"/>
    </div>
</div>
