<!DOCTYPE html>
<html ng-app="workTimeService" lang="ru">
<head>
    <meta charset="UTF-8">
    <script src="angular/jquery.min.js"></script>

    <script src="angular/angular.min.js"></script>
    <script src="angular/ngStorage.min.js"></script>
    <script src="angular/angular-route.min.js"></script>
    <script src="angular/ocLazyLoad.min.js"></script>
    <script src="angular/angular-dnd.js"></script>
    <script src="app_index/app.module.js?ver=3.1"></script>
    <script src="app_index/app.config.js?ver=3.1"></script>
    <script src="app_index/app.routes.js?ver=3.1"></script>

    <script src="index.js?ver=2.0"></script>


    <title>Работы</title>
    <link rel="stylesheet" href="style.css?ver=1.1">
</head>
<body>
<div class="container horiz" ng-controller="indexController">
    <nav>
        <div class="" id="navbarNav">
            <div>
                <div class="horiz" ng-show="isUserLoggedInAndPasOk()">
                    <details class="details_block_menu" open id="DetailPrim">
                        <summary class="p-head">Меню</summary>
                        <div class="nav-item">
                            <a class="nav-link" href="#!/project">Проекты</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="#!/release">Релизы</a>
                        </div>

                        <div class="nav-item">
                            <a class="nav-link" href="#!/work">Список ЗИ</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="#!/task">Все задачи</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="#!/worktime">Все работы</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="#!/worktimerep">Статус задач</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="#!/work/fact">Факт затрат ЗИ</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="#!/weekwork">Факт загрузки</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="#!/userwork">Работы за период</a>
                        </div>

                        <div class="nav-item">
                            <a class="nav-link" href="#!/calendar">Производственный календарь</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="#!/user">Пользователи</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="#!/role">Группы</a>
                        </div>
                    </details>
                    <details class="details_block_menu">
                        <summary class="p-head">Настройки</summary>
                        <div class="horiz">
                            <label for="SaveFilter" class="p-form">Сохранять</label>
                            <input class="vvod20" type="checkbox"
                                   id="SaveFilter"
                                   ng-model="SettingUser.saveFilter"
                                   ng-change="saveSetting()"/>
                        </div>
                        <div class="horiz">
                            <label for="LoadFilter" class="p-form">Загружать</label>
                            <input class="vvod20" type="checkbox"
                                   id="LoadFilter"
                                   ng-model="SettingUser.loadFilter"
                                   ng-change="saveSetting()"/>
                        </div>
                        <button ng-click="delFilter()">Удалить сохраненные фильтры</button>
                        <br>
                        <a class="nav-link" href="#!/userpassword">Сменить пароль</a>
                        <br>
                        <div ng-if="!UserLogin.telegramAdd">
                            <button ng-click="addTelegram()" id="ButtonTelegramAdd">
                                {{CodeTelegram.ok ? "Запросить код повторно" : "Привязать telegram"}}
                            </button>
                            <br>
                            <div ng-if="CodeTelegram.ok">
                                <p>Для получения уведомлений перейдите <a href="http://{{CodeTelegram.link}}"
                                                                          target="_blank">Бот</a>.
                                    И отправьте команду /link. На запрос кода введите:<b>{{CodeTelegram.code}}</b>.
                                    Внимание Код действует <b>{{CodeTelegram.time}}</b> минут. После авторизации в боте
                                    нажмите кнопку: </p>
                                <br>
                                <button ng-click="getUser()" id="ButtonTelegramRef">Проверить</button>

                            </div>
                        </div>
                        <div ng-if="UserLogin.telegramAdd">
                            <button ng-click="deleteTelegram()" id="ButtonTelegramDel">Отвязать Telegram</button>
                            <div><a class="nav-link" href="#!/user_info_type?userId={{UserLogin.id}}">Типы
                                уведомлений</a></div>
                        </div>

                    </details>
                </div>
                <div class="nav-item" ng-show="!isUserLoggedIn()">
                    <form class="" ng-submit="tryToAuth()">
                        <div class="input-group input-group-sm" style="padding: 4px;">
                            <label for="navLoginField">Логин:</label>
                            <input id="navLoginField" class="vvod" ng-model="user.username" type="text"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            <label for="navPasswordField">Пароль:</label>
                            <input id="navPasswordField" class="vvod" ng-model="user.password"
                                   type="password"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            <button id="navLoginSubmit" class="head_button"
                                    style="margin-left: 10px;" type="submit">Войти
                            </button>
                        </div>
                    </form>
                </div>


            </div>

        </div>

    </nav>
    <div class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
        <button type="button" class="head_button" ng-click="addTime()">Заполнить отработаное время</button>
    </div>
    <div class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
        <button class="head_button" ng-click="tryToLogout()">Выйти</button>
    </div>
    <div class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
        <div class="user_view">
            <p class="p-form">
                {{UserLogin.lastName}} {{UserLogin.firstName}} {{UserLogin.patronymic}}</p>
        </div>

        <!--    <input id="UserName" class="user_view""-->
        <!--           type="readonly"-->
        <!--    >-->
    </div>
    <div class="nav-item" ng-show="isUserLoggedIn()">
        <label for="UserProject" class="p-head"></label>
        <select class="vvod" name="UserProject" id="UserProject"
                ng-model="UserLogin.projectId" ng-change="changeProject(UserLogin.projectId)">
            <option ng-repeat="project in UserLogin.projects" ng-value="project.id" value="project.id">
                {{project.code}} {{project.name}}
            </option>
        </select>
    </div>
</div>
<div>
    <ng-view></ng-view>
</div>
</body>
</html>