<!DOCTYPE html>
<html ng-app="workTimeService">
<head>
    <meta charset="UTF-8">
    <script src="angular/jquery.min.js"></script>

    <script src="angular/angular.min.js"></script>
    <script src="angular/ngStorage.min.js"></script>
    <script src="angular/angular-route.min.js"></script>
    <script src="index.js?ver=1.1"></script>

    <title>Работы</title>
    <link rel="stylesheet" href="style.css?ver=1.1">
</head>
<body>
<div class="container horiz" ng-controller="indexController">
    <nav>
        <div class="" id="navbarNav">
            <ul class="">
                <div class="horiz" ng-show="isUserLoggedInAndPasOk()">
                    <details class="detailsblockmenu" open id="DetailPrim">
                        <summary class="p-head">Меню</summary>
                        <li class="nav-item">
                            <a class="nav-link" href="#!/release">Релизы</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#!/work">Список ЗИ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!/task">Все задачи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!/worktime">Все работы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!/worktimerep">Статус задач</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!/work/fact">Факт затрат ЗИ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!/weekwork">Факт загрузки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!/userwork">Работы за период</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#!/calendar">Производственный календарь</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!/user">Пользователи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!/role">Группы</a>
                        </li>
                    </details>
                    <details class="detailsblockmenu">
                        <summary class="p-head">Фильтры</summary>
                        <div class="horiz">
                            <p class="p-form">Сохранять</p> <input class="vvod20" type="checkbox"
                                                                   id="SaveFilter"
                                                                   ng-model="SettingUser.saveFilter"
                                                                   ng-change="saveSetting()"/>
                        </div>
                        <div class="horiz">
                            <p class="p-form">Загружать</p> <input class="vvod20" type="checkbox"
                                                                   id="LoadFilter"
                                                                   ng-model="SettingUser.loadFilter"
                                                                   ng-change="saveSetting()"/>
                        </div>
                        <button ng-click="delFilter()">Удалить сохраненные фильтры</button>
                        <br>
                        <a class="nav-link" href="#!/userpassword">Сменить пароль</a>

                    </details>
                </div>
                <li class="nav-item" ng-show="!isUserLoggedIn()">
                    <form class="" ng-submit="tryToAuth()">
                        <div class="input-group input-group-sm" style="padding: 4px;">
                            Логин: <input id="navLoginField" class="vvod" ng-model="user.username" type="text"
                                          aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            Пароль: <input id="navPasswordField" class="vvod" ng-model="user.password"
                                           type="password"
                                           aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            <button id="navLoginSubmit" class="headbutton"
                                    style="margin-left: 10px;" type="submit">Войти
                            </button>
                        </div>
                    </form>
                </li>


            </ul>

        </div>

    </nav>
    <div class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
        <button type="button" class="headbutton" ng-click="addTime()">Заполнить отработаное время</button>
    </div>
    <div class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
        <button class="headbutton" ng-click="tryToLogout()">Выйти</button>
    </div>
    <div class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
        <div class="userview">
            <p class="p-form">{{UserLogin.lastName}} {{UserLogin.firstName}} {{UserLogin.patronymic}}</p>
        </div>

        <!--    <input id="UserName" class="userview""-->
        <!--           type="readonly"-->
        <!--    >-->
    </div>
</div>
<div>
    <ng-view></ng-view>

    <script src="worktime/worktime.js?ver=1.2"></script>
    <script src="rep/worktimerep.js?ver=1.2"></script>
    <script src="rep/factwork.js?ver=1.2"></script>
    <script src="rep/weekwork/weekwork.js?ver=1.2"></script>
    <script src="work/work.js?ver=1.2"></script>
    <script src="task/task.js?ver=1.2"></script>
    <script src="workrate/workrate.js?ver=1.2"></script>
    <script src="welcome/welcome.js?ver=1.2"></script>
    <script src="calendar/calendar.js?ver=1.2"></script>
    <script src="rep/userwork/userwork.js?ver=1.2"></script>
    <script src="work/release.js?ver=1.2"></script>

    <script src="admin/user/user.js?ver=1.2"></script>
    <script src="admin/user/user_role.js?ver=1.2"></script>
    <script src="admin/role/role.js?ver=1.2"></script>
    <script src="admin/role/role_right.js?ver=1.2"></script>
    <script src="calendar/vacation/vacation.js?ver=1.2"></script>
    <script src="rep/uservacation/uservacation.js?ver=1.2"></script>
    <script src="admin/user/user_password.js?ver=1.2"></script>


</div>
</body>
</html>