<div id="UserList" class="head_text_elem">
    <p>Изменение почты</p>
    <label for="Email" class="form_label">Почта:</label>
    <input class="vvod80mar10" type="email" id="Email" step="any"
           ng-model="User.email" placeholder="Введите новую почту"/>
    <div class="horiz">
        <button type="button" ng-click="changEmail()" class="button" id="ButtonSaveDown">Сохранить</button>
        <button type="button" ng-click="back()" class="button">Вернуться к списку</button>
    </div>
</div>
