<div>
    <label for="FilterYear">Год:</label>
    <select id="FilterYear" class="p-head" ng-model="Filt.year" ng-change="selectYear()">
        <option value="2025" selected>2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
        <option value="2029">2029</option>
        <option value="2030">2030</option>
        <option value="2031">2031</option>
    </select>

    <div class="horiz">
        <div id="JanuaryList" class="head_text_elem">
            <h1>Январь</h1>
            <table class="table_cal_end">
                <tr>
                    <td class="table_head1">Пн</td>
                    <td class="table_head2">Вт</td>
                    <td class="table_head1">Ср</td>
                    <td class="table_head2">Чт</td>
                    <td class="table_head1">Пт</td>
                    <td class="table_head2">Сб</td>
                    <td class="table_head1">ВС</td>
                </tr>

                <tbody>
                <tr ng-repeat="month in Month1">
                    <td ng-style="getStyle(month.monday.weekend,month.monday.shotDay)">
                        <abbr title="{{month.monday.comment}}">{{month.monday.day}}</abbr></td>
                    <td ng-style="getStyle(month.tuesday.weekend,month.tuesday.shotDay)"><abbr
                            title="{{month.tuesday.comment}}">{{month.tuesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.wednesday.weekend,month.wednesday.shotDay)"><abbr
                            title="{{month.wednesday.comment}}">{{month.wednesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.thursday.weekend,month.thursday.shotDay)"><abbr
                            title="{{month.thursday.comment}}">{{month.thursday.day}}</abbr></td>
                    <td ng-style="getStyle(month.friday.weekend,month.friday.shotDay)"><abbr
                            title="{{month.friday.comment}}">{{month.friday.day}}</abbr></td>
                    <td ng-style="getStyle(month.saturday.weekend,month.saturday.shotDay)"><abbr
                            title="{{month.saturday.comment}}">{{month.saturday.day}}</abbr></td>
                    <td ng-style="getStyle(month.sunday.weekend,month.sunday.shotDay)"><abbr
                            title="{{month.sunday.comment}}">{{month.sunday.day}}</abbr></td>

                </tr>
                </tbody>
            </table>
        </div>
        <div id="FebruaryList" class="head_text_elem">
            <h1>Февраль</h1>
            <table class="table_cal_end">
                <tr>
                    <td class="table_head1">Пн</td>
                    <td class="table_head2">Вт</td>
                    <td class="table_head1">Ср</td>
                    <td class="table_head2">Чт</td>
                    <td class="table_head1">Пт</td>
                    <td class="table_head2">Сб</td>
                    <td class="table_head1">ВС</td>
                </tr>

                <tbody>
                <tr ng-repeat="month in Month2">
                    <td ng-style="getStyle(month.monday.weekend,month.monday.shotDay)">
                        <abbr title="{{month.monday.comment}}">{{month.monday.day}}</abbr></td>
                    <td ng-style="getStyle(month.tuesday.weekend,month.tuesday.shotDay)"><abbr
                            title="{{month.tuesday.comment}}">{{month.tuesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.wednesday.weekend,month.wednesday.shotDay)"><abbr
                            title="{{month.wednesday.comment}}">{{month.wednesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.thursday.weekend,month.thursday.shotDay)"><abbr
                            title="{{month.thursday.comment}}">{{month.thursday.day}}</abbr></td>
                    <td ng-style="getStyle(month.friday.weekend,month.friday.shotDay)"><abbr
                            title="{{month.friday.comment}}">{{month.friday.day}}</abbr></td>
                    <td ng-style="getStyle(month.saturday.weekend,month.saturday.shotDay)"><abbr
                            title="{{month.saturday.comment}}">{{month.saturday.day}}</abbr></td>
                    <td ng-style="getStyle(month.sunday.weekend,month.sunday.shotDay)"><abbr
                            title="{{month.sunday.comment}}">{{month.sunday.day}}</abbr></td>

                </tr>
                </tbody>
            </table>
        </div>
        <div id="MarchList" class="head_text_elem">
            <h1>Март</h1>
            <table class="table_cal_end">
                <tr>
                    <td class="table_head1">Пн</td>
                    <td class="table_head2">Вт</td>
                    <td class="table_head1">Ср</td>
                    <td class="table_head2">Чт</td>
                    <td class="table_head1">Пт</td>
                    <td class="table_head2">Сб</td>
                    <td class="table_head1">ВС</td>
                </tr>

                <tbody>
                <tr ng-repeat="month in Month3">
                    <td ng-style="getStyle(month.monday.weekend,month.monday.shotDay)">
                        <abbr title="{{month.monday.comment}}">{{month.monday.day}}</abbr></td>
                    <td ng-style="getStyle(month.tuesday.weekend,month.tuesday.shotDay)"><abbr
                            title="{{month.tuesday.comment}}">{{month.tuesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.wednesday.weekend,month.wednesday.shotDay)"><abbr
                            title="{{month.wednesday.comment}}">{{month.wednesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.thursday.weekend,month.thursday.shotDay)"><abbr
                            title="{{month.thursday.comment}}">{{month.thursday.day}}</abbr></td>
                    <td ng-style="getStyle(month.friday.weekend,month.friday.shotDay)"><abbr
                            title="{{month.friday.comment}}">{{month.friday.day}}</abbr></td>
                    <td ng-style="getStyle(month.saturday.weekend,month.saturday.shotDay)"><abbr
                            title="{{month.saturday.comment}}">{{month.saturday.day}}</abbr></td>
                    <td ng-style="getStyle(month.sunday.weekend,month.sunday.shotDay)"><abbr
                            title="{{month.sunday.comment}}">{{month.sunday.day}}</abbr></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="horiz">
        <div id="AprilList" class="head_text_elem">
            <h1>Апрель</h1>
            <table class="table_cal_end">
                <tr>
                    <td class="table_head1">Пн</td>
                    <td class="table_head2">Вт</td>
                    <td class="table_head1">Ср</td>
                    <td class="table_head2">Чт</td>
                    <td class="table_head1">Пт</td>
                    <td class="table_head2">Сб</td>
                    <td class="table_head1">ВС</td>
                </tr>

                <tbody>
                <tr ng-repeat="month in Month4">
                    <td ng-style="getStyle(month.monday.weekend,month.monday.shotDay)">
                        <abbr title="{{month.monday.comment}}">{{month.monday.day}}</abbr></td>
                    <td ng-style="getStyle(month.tuesday.weekend,month.tuesday.shotDay)"><abbr
                            title="{{month.tuesday.comment}}">{{month.tuesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.wednesday.weekend,month.wednesday.shotDay)"><abbr
                            title="{{month.wednesday.comment}}">{{month.wednesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.thursday.weekend,month.thursday.shotDay)"><abbr
                            title="{{month.thursday.comment}}">{{month.thursday.day}}</abbr></td>
                    <td ng-style="getStyle(month.friday.weekend,month.friday.shotDay)"><abbr
                            title="{{month.friday.comment}}">{{month.friday.day}}</abbr></td>
                    <td ng-style="getStyle(month.saturday.weekend,month.saturday.shotDay)"><abbr
                            title="{{month.saturday.comment}}">{{month.saturday.day}}</abbr></td>
                    <td ng-style="getStyle(month.sunday.weekend,month.sunday.shotDay)"><abbr
                            title="{{month.sunday.comment}}">{{month.sunday.day}}</abbr></td>

                </tr>
                </tbody>
            </table>
        </div>
        <div id="MayList" class="head_text_elem">
            <h1>Май</h1>
            <table class="table_cal_end">
                <tr>
                    <td class="table_head1">Пн</td>
                    <td class="table_head2">Вт</td>
                    <td class="table_head1">Ср</td>
                    <td class="table_head2">Чт</td>
                    <td class="table_head1">Пт</td>
                    <td class="table_head2">Сб</td>
                    <td class="table_head1">ВС</td>
                </tr>

                <tbody>
                <tr ng-repeat="month in Month5">
                    <td ng-style="getStyle(month.monday.weekend,month.monday.shotDay)">
                        <abbr title="{{month.monday.comment}}">{{month.monday.day}}</abbr></td>
                    <td ng-style="getStyle(month.tuesday.weekend,month.tuesday.shotDay)"><abbr
                            title="{{month.tuesday.comment}}">{{month.tuesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.wednesday.weekend,month.wednesday.shotDay)"><abbr
                            title="{{month.wednesday.comment}}">{{month.wednesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.thursday.weekend,month.thursday.shotDay)"><abbr
                            title="{{month.thursday.comment}}">{{month.thursday.day}}</abbr></td>
                    <td ng-style="getStyle(month.friday.weekend,month.friday.shotDay)"><abbr
                            title="{{month.friday.comment}}">{{month.friday.day}}</abbr></td>
                    <td ng-style="getStyle(month.saturday.weekend,month.saturday.shotDay)"><abbr
                            title="{{month.saturday.comment}}">{{month.saturday.day}}</abbr></td>
                    <td ng-style="getStyle(month.sunday.weekend,month.sunday.shotDay)"><abbr
                            title="{{month.sunday.comment}}">{{month.sunday.day}}</abbr></td>

                </tr>
                </tbody>
            </table>
        </div>
        <div id="JuneList" class="head_text_elem">
            <h1>Июнь</h1>
            <table class="table_cal_end">
                <tr>
                    <td class="table_head1">Пн</td>
                    <td class="table_head2">Вт</td>
                    <td class="table_head1">Ср</td>
                    <td class="table_head2">Чт</td>
                    <td class="table_head1">Пт</td>
                    <td class="table_head2">Сб</td>
                    <td class="table_head1">ВС</td>
                </tr>

                <tbody>
                <tr ng-repeat="month in Month6">
                    <td ng-style="getStyle(month.monday.weekend,month.monday.shotDay)">
                        <abbr title="{{month.monday.comment}}">{{month.monday.day}}</abbr></td>
                    <td ng-style="getStyle(month.tuesday.weekend,month.tuesday.shotDay)"><abbr
                            title="{{month.tuesday.comment}}">{{month.tuesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.wednesday.weekend,month.wednesday.shotDay)"><abbr
                            title="{{month.wednesday.comment}}">{{month.wednesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.thursday.weekend,month.thursday.shotDay)"><abbr
                            title="{{month.thursday.comment}}">{{month.thursday.day}}</abbr></td>
                    <td ng-style="getStyle(month.friday.weekend,month.friday.shotDay)"><abbr
                            title="{{month.friday.comment}}">{{month.friday.day}}</abbr></td>
                    <td ng-style="getStyle(month.saturday.weekend,month.saturday.shotDay)"><abbr
                            title="{{month.saturday.comment}}">{{month.saturday.day}}</abbr></td>
                    <td ng-style="getStyle(month.sunday.weekend,month.sunday.shotDay)"><abbr
                            title="{{month.sunday.comment}}">{{month.sunday.day}}</abbr></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="horiz">
        <div id="JulyList" class="head_text_elem">
            <h1>Июль</h1>
            <table class="table_cal_end">
                <tr>
                    <td class="table_head1">Пн</td>
                    <td class="table_head2">Вт</td>
                    <td class="table_head1">Ср</td>
                    <td class="table_head2">Чт</td>
                    <td class="table_head1">Пт</td>
                    <td class="table_head2">Сб</td>
                    <td class="table_head1">ВС</td>
                </tr>

                <tbody>
                <tr ng-repeat="month in Month7">
                    <td ng-style="getStyle(month.monday.weekend,month.monday.shotDay)">
                        <abbr title="{{month.monday.comment}}">{{month.monday.day}}</abbr></td>
                    <td ng-style="getStyle(month.tuesday.weekend,month.tuesday.shotDay)"><abbr
                            title="{{month.tuesday.comment}}">{{month.tuesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.wednesday.weekend,month.wednesday.shotDay)"><abbr
                            title="{{month.wednesday.comment}}">{{month.wednesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.thursday.weekend,month.thursday.shotDay)"><abbr
                            title="{{month.thursday.comment}}">{{month.thursday.day}}</abbr></td>
                    <td ng-style="getStyle(month.friday.weekend,month.friday.shotDay)"><abbr
                            title="{{month.friday.comment}}">{{month.friday.day}}</abbr></td>
                    <td ng-style="getStyle(month.saturday.weekend,month.saturday.shotDay)"><abbr
                            title="{{month.saturday.comment}}">{{month.saturday.day}}</abbr></td>
                    <td ng-style="getStyle(month.sunday.weekend,month.sunday.shotDay)"><abbr
                            title="{{month.sunday.comment}}">{{month.sunday.day}}</abbr></td>

                </tr>
                </tbody>
            </table>
        </div>
        <div id="AugustList" class="head_text_elem">
            <h1>Август</h1>
            <table class="table_cal_end">
                <tr>
                    <td class="table_head1">Пн</td>
                    <td class="table_head2">Вт</td>
                    <td class="table_head1">Ср</td>
                    <td class="table_head2">Чт</td>
                    <td class="table_head1">Пт</td>
                    <td class="table_head2">Сб</td>
                    <td class="table_head1">ВС</td>
                </tr>

                <tbody>
                <tr ng-repeat="month in Month8">
                    <td ng-style="getStyle(month.monday.weekend,month.monday.shotDay)">
                        <abbr title="{{month.monday.comment}}">{{month.monday.day}}</abbr></td>
                    <td ng-style="getStyle(month.tuesday.weekend,month.tuesday.shotDay)"><abbr
                            title="{{month.tuesday.comment}}">{{month.tuesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.wednesday.weekend,month.wednesday.shotDay)"><abbr
                            title="{{month.wednesday.comment}}">{{month.wednesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.thursday.weekend,month.thursday.shotDay)"><abbr
                            title="{{month.thursday.comment}}">{{month.thursday.day}}</abbr></td>
                    <td ng-style="getStyle(month.friday.weekend,month.friday.shotDay)"><abbr
                            title="{{month.friday.comment}}">{{month.friday.day}}</abbr></td>
                    <td ng-style="getStyle(month.saturday.weekend,month.saturday.shotDay)"><abbr
                            title="{{month.saturday.comment}}">{{month.saturday.day}}</abbr></td>
                    <td ng-style="getStyle(month.sunday.weekend,month.sunday.shotDay)"><abbr
                            title="{{month.sunday.comment}}">{{month.sunday.day}}</abbr></td>

                </tr>
                </tbody>
            </table>
        </div>
        <div id="SeptemberList" class="head_text_elem">
            <h1>Сентябрь</h1>
            <table class="table_cal_end">
                <tr>
                    <td class="table_head1">Пн</td>
                    <td class="table_head2">Вт</td>
                    <td class="table_head1">Ср</td>
                    <td class="table_head2">Чт</td>
                    <td class="table_head1">Пт</td>
                    <td class="table_head2">Сб</td>
                    <td class="table_head1">ВС</td>
                </tr>

                <tbody>
                <tr ng-repeat="month in Month9">
                    <td ng-style="getStyle(month.monday.weekend,month.monday.shotDay)">
                        <abbr title="{{month.monday.comment}}">{{month.monday.day}}</abbr></td>
                    <td ng-style="getStyle(month.tuesday.weekend,month.tuesday.shotDay)"><abbr
                            title="{{month.tuesday.comment}}">{{month.tuesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.wednesday.weekend,month.wednesday.shotDay)"><abbr
                            title="{{month.wednesday.comment}}">{{month.wednesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.thursday.weekend,month.thursday.shotDay)"><abbr
                            title="{{month.thursday.comment}}">{{month.thursday.day}}</abbr></td>
                    <td ng-style="getStyle(month.friday.weekend,month.friday.shotDay)"><abbr
                            title="{{month.friday.comment}}">{{month.friday.day}}</abbr></td>
                    <td ng-style="getStyle(month.saturday.weekend,month.saturday.shotDay)"><abbr
                            title="{{month.saturday.comment}}">{{month.saturday.day}}</abbr></td>
                    <td ng-style="getStyle(month.sunday.weekend,month.sunday.shotDay)"><abbr
                            title="{{month.sunday.comment}}">{{month.sunday.day}}</abbr></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="horiz">
        <div id="OctoberList" class="head_text_elem">
            <h1>Октябрь</h1>
            <table class="table_cal_end">
                <tr>
                    <td class="table_head1">Пн</td>
                    <td class="table_head2">Вт</td>
                    <td class="table_head1">Ср</td>
                    <td class="table_head2">Чт</td>
                    <td class="table_head1">Пт</td>
                    <td class="table_head2">Сб</td>
                    <td class="table_head1">ВС</td>
                </tr>

                <tbody>
                <tr ng-repeat="month in Month10">
                    <td ng-style="getStyle(month.monday.weekend,month.monday.shotDay)">
                        <abbr title="{{month.monday.comment}}">{{month.monday.day}}</abbr></td>
                    <td ng-style="getStyle(month.tuesday.weekend,month.tuesday.shotDay)"><abbr
                            title="{{month.tuesday.comment}}">{{month.tuesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.wednesday.weekend,month.wednesday.shotDay)"><abbr
                            title="{{month.wednesday.comment}}">{{month.wednesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.thursday.weekend,month.thursday.shotDay)"><abbr
                            title="{{month.thursday.comment}}">{{month.thursday.day}}</abbr></td>
                    <td ng-style="getStyle(month.friday.weekend,month.friday.shotDay)"><abbr
                            title="{{month.friday.comment}}">{{month.friday.day}}</abbr></td>
                    <td ng-style="getStyle(month.saturday.weekend,month.saturday.shotDay)"><abbr
                            title="{{month.saturday.comment}}">{{month.saturday.day}}</abbr></td>
                    <td ng-style="getStyle(month.sunday.weekend,month.sunday.shotDay)"><abbr
                            title="{{month.sunday.comment}}">{{month.sunday.day}}</abbr></td>

                </tr>
                </tbody>
            </table>
        </div>
        <div id="NovemberList" class="head_text_elem">
            <h1>Ноябрь</h1>
            <table class="table_cal_end">
                <tr>
                    <td class="table_head1">Пн</td>
                    <td class="table_head2">Вт</td>
                    <td class="table_head1">Ср</td>
                    <td class="table_head2">Чт</td>
                    <td class="table_head1">Пт</td>
                    <td class="table_head2">Сб</td>
                    <td class="table_head1">ВС</td>
                </tr>

                <tbody>
                <tr ng-repeat="month in Month11">
                    <td ng-style="getStyle(month.monday.weekend,month.monday.shotDay)">
                        <abbr title="{{month.monday.comment}}">{{month.monday.day}}</abbr></td>
                    <td ng-style="getStyle(month.tuesday.weekend,month.tuesday.shotDay)"><abbr
                            title="{{month.tuesday.comment}}">{{month.tuesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.wednesday.weekend,month.wednesday.shotDay)"><abbr
                            title="{{month.wednesday.comment}}">{{month.wednesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.thursday.weekend,month.thursday.shotDay)"><abbr
                            title="{{month.thursday.comment}}">{{month.thursday.day}}</abbr></td>
                    <td ng-style="getStyle(month.friday.weekend,month.friday.shotDay)"><abbr
                            title="{{month.friday.comment}}">{{month.friday.day}}</abbr></td>
                    <td ng-style="getStyle(month.saturday.weekend,month.saturday.shotDay)"><abbr
                            title="{{month.saturday.comment}}">{{month.saturday.day}}</abbr></td>
                    <td ng-style="getStyle(month.sunday.weekend,month.sunday.shotDay)"><abbr
                            title="{{month.sunday.comment}}">{{month.sunday.day}}</abbr></td>

                </tr>
                </tbody>
            </table>
        </div>
        <div id="DecemberList" class="head_text_elem">
            <h1>Декабрь</h1>
            <table class="table_cal_end">
                <tr>
                    <td class="table_head1">Пн</td>
                    <td class="table_head2">Вт</td>
                    <td class="table_head1">Ср</td>
                    <td class="table_head2">Чт</td>
                    <td class="table_head1">Пт</td>
                    <td class="table_head2">Сб</td>
                    <td class="table_head1">ВС</td>
                </tr>

                <tbody>
                <tr ng-repeat="month in Month12">
                    <td ng-style="getStyle(month.monday.weekend,month.monday.shotDay)">
                        <abbr title="{{month.monday.comment}}">{{month.monday.day}}</abbr></td>
                    <td ng-style="getStyle(month.tuesday.weekend,month.tuesday.shotDay)"><abbr
                            title="{{month.tuesday.comment}}">{{month.tuesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.wednesday.weekend,month.wednesday.shotDay)"><abbr
                            title="{{month.wednesday.comment}}">{{month.wednesday.day}}</abbr></td>
                    <td ng-style="getStyle(month.thursday.weekend,month.thursday.shotDay)"><abbr
                            title="{{month.thursday.comment}}">{{month.thursday.day}}</abbr></td>
                    <td ng-style="getStyle(month.friday.weekend,month.friday.shotDay)"><abbr
                            title="{{month.friday.comment}}">{{month.friday.day}}</abbr></td>
                    <td ng-style="getStyle(month.saturday.weekend,month.saturday.shotDay)"><abbr
                            title="{{month.saturday.comment}}">{{month.saturday.day}}</abbr></td>
                    <td ng-style="getStyle(month.sunday.weekend,month.sunday.shotDay)"><abbr
                            title="{{month.sunday.comment}}">{{month.sunday.day}}</abbr></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>