<div id="WorkStageList" class="head_text_elem">
    <h1>{{ZI.codeSap}} </h1>
    <h1>{{ZI.codeZI}} {{ZI.name}} </h1>

    <h1 ng-style="getStyle(ZI.rated ? 0 : 1)">{{ZI.rated ? "Оценка выполнена" : "Оценка не выполнена" }}</h1>

    <h1 ng-style="getStyle(RateStatusSC.code)">{{RateStatusSC.value}}</h1>
    <h1 ng-style="getStyle(RateStatusST.code)">{{RateStatusST.value}}</h1>
    <h1 ng-style="getStyle(RateStatusCT.code)">{{RateStatusCT.value}}</h1>
    <div class="horiz">
        <h1>Плановая оценка</h1>
        <button type="button" class="head_button mar5" id="WorkPage" ng-click="workPage()">Назад</button>
        <button ng-if = "ziEdit" type="button" class="head_button mar5" id="Rated" ng-click="changeRated(!ZI.rated)">{{ZI.rated ? "Отменить оценку" : "Завершить оценку"}}</button>
    </div>
    <table>
        <tr>
            <td class="table_head1">№ п/п</td>
            <td class="table_head2">ФИО</td>
            <td class="table_head1">Вид работ</td>
            <td class="table_head2">0 факт</td>
            <td class="table_head2">0 этап</td>
            <td class="table_head1">I этап</td>
            <td class="table_head2">II этап</td>
            <td class="table_head1">III этап</td>
            <td class="table_head2">IV этап</td>
            <td class="table_head1">Итого, ч/часов</td>
            <td class="table_head2" ng-if="stageEdit && !ZI.rated"></td>
            <td class="table_head1" ng-if="stageEdit && !ZI.rated"></td>
            
        </tr>
        <tbody>
        <tr ng-repeat="work in WorkStageList">
            <td>{{$index + 1}}</td>
            <td ng-if="!work.firstName">{{work.nikName}}</td>
            <td ng-if="work.firstName">{{work.lastName}} {{work.firstName}}
                {{work.patronymic}}
            </td>

            <td>{{work.roleStr}}</td>
            <td>{{work.stage0Fact}}</td>
            <td>{{work.stage0}}</td>
            <td>{{work.stage1}}</td>
            <td>{{work.stage2}}</td>
            <td>{{work.stage3}}</td>
            <td>{{work.stage4}}</td>
            <td>{{work.stageAll}}</td>
            <td ng-if="stageEdit && !ZI.rated">
                <button ng-click="editWorkStage(work.id)">Изменить</button>
            </td>
            <td ng-if="stageEdit  && !ZI.rated">
                <button ng-click="deleteWorkStage(work.id)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <img ng-if="load1" src="../gif/wait1.gif" alt="wait1" width="900" height="506"/>
    </div>
    <div id="WorkStageAdd" >
        <button ng-if="stageCreate && !ZI.rated" type="button" class="head_button" id="AddWorkStage" ng-click="createWorkStage()">Добавить</button>

    </div>
    <form id="FormWorkStage" ng-submit="saveWorkStage()">
        <div class="horiz">

            <div class="filter_block min_block300 mar5">
                <label for="User" class="p-form">ФИО</label>
                <select class="vvod" name="UserFilterWorkStageSelect" id="User" ng-model="WorkStage.nikName">
                    <option ng-repeat="user in UserList" ng-value="user.nikName" value="user.nikName">{{user.lastName}}
                        {{user.firstName}} {{user.patronymic}}
                    </option>
                </select>
            </div>
            <div class="filter_block min_block200 mar5">
                <label for="Role" class="p-form">Вид Работ</label>
                <select class="vvod" name="RoleWorkStageSelect" id="Role" ng-model="WorkStage.role">
                    <option ng-value="1" value="1">Разработка и отладка</option>
                    <option ng-value="2" value="2">Внутренее тестирование</option>
                </select>
            </div>
            <div class="filter_block mar5">
                <label for="Stage0" class="p-form">Этап 0</label>
                <input class="vvod" type="number" inputmode="numeric" id="Stage0" step="any"
                                                   ng-model="WorkStage.stage0"/>

            </div>
            <div class="filter_block mar5">
                <label for="Stage1" class="p-form">Этап 1</label>
                <input class="vvod" type="number" inputmode="numeric" id="Stage1" step="any"
                                                   ng-model="WorkStage.stage1"/>

            </div>
            <div class="filter_block mar5">
                <label for="Stage2" class="p-form">Этап 2</label>
                <input class="vvod" type="number" inputmode="numeric" id="Stage2" step="any"
                                                   ng-model="WorkStage.stage2"/>

            </div>
            <div class="filter_block mar5">
                <label for="Stage3" class="p-form">Этап 3</label>
                <input class="vvod" type="number" inputmode="numeric" id="Stage3" step="any"
                                                   ng-model="WorkStage.stage3"/>

            </div>
            <div class="filter_block mar5">
                <label for="Stage4" class="p-form">Этап 4</label>
                <input class="vvod" type="number" inputmode="numeric" id="Stage4" step="any"
                                                   ng-model="WorkStage.stage4"/>

            </div>
        </div>
        <button type="submit" class="button" id="ButtonSaveDown">Сохранить</button>
        <button type="button" ng-click="showWorkStageAdd()" class="button">Вернуться к списку</button>
    </form>
</div>

<div id="WorkCriteriaList" class="head_text_elem">
    <div class="horiz">
        <h1>Критерии</h1>
    </div>
    <table>
        <tr>
            <td class="table_head2">База</td>
            <td class="table_head1">Минимальная доработка (10% кода) ед.</td>
            <td class="table_head2">Общая переработка (50% кода) ед.</td>
            <td class="table_head1">Новая доработка или реинженеринг кода ед.</td>
            <td class="table_head2" ng-if="criteriaEdit && !ZI.rated"></td>
            <td class="table_head1" ng-if="criteriaEdit && !ZI.rated"></td>

        </tr>
        <tbody>
        <tr ng-repeat="work in WorkCriteriaList">
            <td>{{work.criteriaStr}}</td>
            <td>{{work.develop10}}</td>
            <td>{{work.develop50}}</td>
            <td>{{work.develop100}}</td>
            <td ng-if="criteriaEdit && !ZI.rated">
                <button ng-click="editWorkCriteria(work.id)">Изменить</button>
            </td>
            <td ng-if="criteriaEdit && !ZI.rated">
                <button ng-click="deleteWorkCriteria(work.id)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="wait_1_2">
        <img ng-if="load2" src="../gif/wait1_2.gif" alt="Лучше ждите" width="300" height="300"/>
    </div>
    <div id="WorkCriteriaAdd" >
        <button ng-if="criteriaCreate && !ZI.rated" type="button" class="head_button" id="AddWorkCriteria" ng-click="createWorkCriteria()">Добавить</button>

    </div>
    <form id="FormWorkCriteria" ng-submit="saveWorkCriteria()">
        <div class="horiz">

            <div class="filter_block min_block200 mar5">
                <label for="Type" class="p-form">Вид Работ</label>
                <select class="vvod" name="TypeWorkCriteriaSelect" id="Type" ng-model="WorkCriteria.criteria">
                    <option ng-value="1" value="1">Реализация импорта данных</option>
                    <option ng-value="2" value="2">Реализация хранения данных</option>
                    <option ng-value="3" value="3">Реализация обработки и сравнения данных</option>
                    <option ng-value="4" value="4">Реализация экспорта</option>
                    <option ng-value="8" value="8">Разработка экранной формы</option>
                    <option ng-value="5" value="5">Поддержака(реализация) протокола интеграции</option>
                    <option ng-value="6" value="6">Реализация внешнего сервиса (ОС Windows)</option>
                    <option ng-value="7" value="7">Реализация внешнего сервиса (ОС Linux)</option>
                </select>
            </div>
            <div class="filter_block mar5">
                <label for="Criteria10" class="p-form">Переработка 10%</label>
                <input class="vvod" type="number" inputmode="numeric" id="Criteria10" step="any"
                                                       ng-model="WorkCriteria.develop10"/>

            </div>
            <div class="filter_block mar5">
                <label for="Criteria50" class="p-form">Переработка 50%</label>
                <input class="vvod" type="number" inputmode="numeric" id="Criteria50" step="any"
                                                       ng-model="WorkCriteria.develop50"/>

            </div>
            <div class="filter_block mar5">
                <label for="Criteria100" class="p-form">Переработка 100%</label>
                <input class="vvod" type="number" inputmode="numeric" id="Criteria100" step="any"
                                                        ng-model="WorkCriteria.develop100"/>

            </div>

        </div>
        <button type="submit" class="button" id="ButtonSaveDownCriteria">Сохранить</button>
        <button type="button" ng-click="showWorkCriteriaAdd()" class="button">Вернуться к списку</button>
    </form>
</div>

<div id="WorkTypeList" class="head_text_elem">
    <div class="horiz">
        <h1>Работы</h1>
    </div>
    <table>
        <tr>
            <td class="table_head1">П.Н.</td>
            <td class="table_head1">Номер ВН</td>
            <td class="table_head2">Планируемые ТрЗ</td>
            <td class="table_head1">Часы</td>
            <td class="table_head2">Р/дн</td>
            <td class="table_head2" ng-if="typeEdit && !ZI.rated"></td>
            <td class="table_head1" ng-if="typeEdit && !ZI.rated"></td>

        </tr>
        <tbody>
        <tr ng-repeat="work in WorkTypeList">
            <td>{{$index}}</td>
            <td ng-if="typeEdit && !ZI.rated">{{work.number}}</td>
            <td>{{work.type}}</td>
            <td>{{work.time}}</td>
            <td>{{work.time / 8}}</td>
            <td ng-if="typeEdit && !ZI.rated">
                <button ng-click="editWorkType(work.id)">Изменить</button>
            </td>
            <td ng-if="typeEdit && !ZI.rated">
                <button ng-click="deleteWorkType(work.id)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="wait_1_2">
        <img ng-if="load3" src="../gif/wait1_2.gif" alt="Лучше ждите" width="300" height="300"/>
    </div>
    <div id="WorkTypeAdd" >
        <button ng-if="typeCreate && !ZI.rated" type="button" class="head_button" id="AddWorkType" ng-click="createWorkType()">Добавить</button>

    </div>
    <form id="FormWorkType" ng-submit="saveWorkType()">
        <div class="horiz">
            <div class="filter_block min_block200 mar5">
                <label for="TypeNumber" class="p-form">П.Н</label>
                <input class="vvod" type="number" id="TypeNumber"
                       ng-model="WorkType.number"/>

            </div>
            <div class="filter_block min_block200 mar5">
                <label for="TypeType" class="p-form">Работа</label>
                <input class="vvod" type="text" id="TypeType"
                       ng-model="WorkType.type"/>

            </div>
            <div class="filter_block mar5">
                <label for="Time" class="p-form">Часы</label>
                <input class="vvod" type="number" inputmode="numeric" id="Time" step="any"
                       ng-model="WorkType.time"/>

            </div>

        </div>
        <button type="submit" class="button" id="ButtonSaveDownType">Сохранить</button>
        <button type="button" ng-click="showWorkTypeAdd()" class="button">Вернуться к списку</button>
    </form>
</div>
