<div id="TaskList" class="headtextelem">
    <div class="filter containerfilt">
        <details class="detailsblock">
            <summary class="p-head">Фильтр</summary>

            <form novalidate ng-submit="filterTask()" ; class="filter">
                <div class="filter">
                    <div class="filterblock">

                        <div class="horiz">
                            <p class="p-head">Id ЗИ</p>
                            <br>
                            <input class="vvod40" type="number" id="WorkIdFilt" step="any" ng-model="Filt.workId"/>
                            <p class="p-head">Тип задачи :</p>
                            <select class="vvod20" name="choice" id="TypeFilt" ng-model="Filt.type">
                                <option ng-value="1" value="1" selected>ЗИ</option>
                                <option ng-value="2" value="2">Вендерка</option>
                                <option ng-value="3" value="3">Админ</option>
                                <option ng-value="" value="">Все</option>
                            </select>
                        </div>
                        <div class="horiz">
                            <p class="p-head">BTS:</p>
                            <br>
                            <input class="vvod20" type="text" id="BtsFilt" step="any" ng-model="Filt.bts"/>
<!--                        </div>-->
<!--                        <div class="horiz">-->
                            <p class="p-head">DEVBO :</p>
                            <br>
                            <input class="vvod20" type="text" id="DevboFilt" step="any" ng-model="Filt.devbo"/>
                        </div>
                        <div class="horiz">
                            <p class="p-head">Описание:</p>
                            <br>
                            <input class="vvod80" type="text" id="DescFilt" step="any" ng-model="Filt.desc"/>
                        </div>
                        <div class="horiz">
                            <p class="p-head">Наименование ЗИ</p>
                            <br>
                            <input class="vvod80" type="text" id="ZiNameFilt" step="any" ng-model="Filt.ziName"/>
                        </div>
                        <button type="submit" class="headbutton">Применить</button>
                    </div>
                </div>
            </form>
        </details>
        <button class="headbutton" ng-click="createTask()">Создать задачу</button>
    </div>
    <div class="filter containerfilt">
        <button class="headbutton" ng-click="findPage(-1)">PrevPage</button>
        <input class="vvod" type="number" id="Page" value="1"/>
        <button class="headbutton" ng-click="findPage(1)">NextPage</button>
        <p class="p-head">Количество элементов</p>
        <select class="vvod20" name="choice" id="TaskSize" ng-model="Filt.size" ng-change="filterTask()" >
            <option ng-value="10" value="10" selected>10</option>
            <option ng-value="25" value="25">25</option>
            <option ng-value="50" value="50">50</option>
            <option ng-value="100" value="100">100</option>
            <option ng-value="500" value="500">500</option>
            <option ng-value="1000" value="1000">1000</option>
            <option ng-value="10000" value="10000">10000</option>
        </select>
    </div>
    <h1>Список задач</h1>
    <table>
        <tr>
            <td class="tablehead2">Автор</td>
            <td class="tablehead2">№ запроса (BTS)</td>
            <td class="tablehead2">№ внутренней задачи (DEVBO)</td>
            <td class="tablehead2">Краткое описание</td>
            <td class="tablehead2">Тип задачи</td>
            <td class="tablehead2">№ ЗИ (ZI)</td>
            <td class="tablehead2">Наименование ЗИ</td>
            <td class="tablehead2"></td>
            <td class="tablehead2"></td>

        </tr>
        <tbody>
        <tr ng-repeat="task in TaskList">
            <td ng-if="!task.authorFirstName">{{task.nikName}}</td>
            <td ng-if="task.authorFirstName" class="textleft">{{task.authorLastName}} {{task.authorFirstName}}
                {{task.authorPatronymic}}
            </td>

            <td class="textnotwrap">{{task.codeBTS}}</td>
            <td class="textnotwrap">{{task.codeDEVBO}}</td>
            <td>
                <button ng-click="addTime(task.id);">{{task.description}}</button>
            </td>
            <td>{{task.typeStr}}</td>
            <td class="textnotwrap">{{task.codeZi}}</td>
            <td class="textleft">{{task.nameZi}}</td>
            <td>
                <button ng-click="editTask(task.id)">Изменить</button>
            </td>
            <td>
                <button ng-click="deleteTask(task.id)">Удалить</button>
            </td>

        </tr>
        </tbody>
    </table>

</div>

<div id="FormEdit" class="divform containerfilt">
    <form novalidate ng-submit="saveTask()">
        <p class="p-form">{{Resp.message}}</p>
        <button type="submit" class="button" id="ButtonSaveUp">Сохранить</button>
        <button type="reset" ng-click="loadTask()" class="button">Вернуться к списку</button>
        <br>
        <br>
<!--        Задача : -->
        <input class="vvod" type="hidden" inputmode="number" id="TaskIdEdit" placeholder="Ведите код задачи"
                        ng-model="Task.id"/>
<!--        <br>-->
        № запроса (BTS) : <input class="vvod" type="text" id="CodeBTS" placeholder="Ведите наименование"
                                 ng-model="Task.codeBTS"/>

        <br>
        № внутренней задачи (DEVBO) : <input class="vvod" type="text" id="CodeDEVBO" placeholder="Ведите наименование"
                                             ng-model="Task.codeDEVBO"/>

        <br>
        Краткое описание ошибки : <input class="vvod" type="text" id="Description" placeholder="Ведите наименование"
                                         ng-model="Task.description"/>

        <br>
        Тип задачи :
        <select class="vvod" name="choice" id="Type" ng-model="Task.type">
            <option ng-value="1" value="1" selected>ЗИ</option>
            <option ng-value="2" value="2">Вендерка</option>
            <option ng-value="3" value="3">Админ</option>
        </select>
        <br>
    </form>
    <div id="WorkNum">
        Наименование ЗИ
        <br>
        <input class="vvod80" type="hidden" step="1" id="WorkIdEdit"
               ng-model="Task.workId"/>
        <input type="text" id="WorkName" class="vvod80" readonly>
        <button type="button" ng-click="findWork(WorkTime.taskId)" class="headbutton">Найти</button>
        <br>
    </div>
    <div id="FindWork">
        <details class="detailsblock">
            <summary class="p-head">Фильтр</summary>

            <div>
                <form novalidate class="filter">
                    <!--      <input class="vvod" type="number" inputmode="decimal" id="WorkId" step="any" ng-model="Filt.workId"/>-->
                    <!--      <br>-->
                    <!--      <input class="vvod" type="number" inputmode="decimal" id="DateLE" value="1" ng-model="Filt.dateLe"/>-->

                    <!--      <p class="p-head"> <= Цена <= </p>-->
                    <!--      <input class="vvod" type="number" inputmode="decimal" id="DateGe" step="any" ng-model="Filt.dateGe"/>-->
                    <p class="p-head"> Наименование </p> <input class="vvod80" inputmode="text" id="Name"
                                                                ng-model="FiltWork.name"/>
                    <!--                <input  type="hidden" id="wwwwId" />-->
                    <br>
                    <button type="button" ng-click="loadWork()" class="headbutton">Применить</button>

                </form>
            </div>
        </details>
        <div class="filter">
            <button type="button" class="headbutton" ng-click="loadWork(-1)">PrevPage</button>
            <input class="vvod" type="number" id="PageWork" value="1"/>
            <button type="button" class="headbutton" ng-click="loadWork(1)">NextPage</button>
            <p class="p-head">Количество элементов</p>
            <select class="vvod20" name="choice" id="WorkSize" ng-model="FiltWork.size" ng-change="filterWork()" >
                <option ng-value="10" value="10" selected>10</option>
                <option ng-value="25" value="25">25</option>
                <option ng-value="50" value="50">50</option>
                <option ng-value="100" value="100">100</option>
                <option ng-value="500" value="500">500</option>
                <option ng-value="1000" value="1000">1000</option>
                <option ng-value="10000" value="10000">10000</option>
            </select>
        </div>
        <table>

            <tr>
                <td class="tablehead2" rowspan="3"> Код SAP</td>
                <td class="tablehead2" rowspan="3"> Код Зи</td>
                <td class="tablehead2" rowspan="3"> Наименование</td>
                <td class="tablehead2" rowspan="3"> Этап</td>
            </tr>
            <tbody>
            <tr ng-repeat="work in WorkList">
                <td>{{work.codeSap}}</td>
                <td>{{work.codeZI}}</td>
                <td>
                    <button ng-click="setWork(work.id)">{{work.name}}</button>
                </td>
                <td>{{work.stageZI}}</td>
            </tr>
            </tbody>
        </table>


    </div>
    <button class="button" ng-click="saveTask()" id="ButtonSaveDown">Сохранить</button>
    <button type="reset" ng-click="loadTask()" class="button">Вернуться к списку</button>


</div>