<div id="TaskList" class="head_text_elem">
    <div class="filter container_filter">
        <details class="details_block">
            <summary class="p-head">Фильтр</summary>

            <form novalidate ng-submit="filterTask()" class="filter">
                <div class="filter">
                    <div class="filter_block">

                        <div class="horiz">
                            <label for="WorkIdFilter" class="p-head">Id ЗИ</label>
                            <input class="vvod40" type="number" id="WorkIdFilter" step="any" ng-model="Filt.workId"/>
                            <label for="TypeFilter" class="p-head">Тип задачи :</label>
                            <select class="vvod20" name="TypeFilterTaskSelect" id="TypeFilter" ng-model="Filt.type">
                                <option ng-repeat="task in TaskListType" ng-value="task.codeInt" value="task.codeInt">
                                    {{task.value}}
                                </option>
                                <option ng-value="" value="">Все</option>
                            </select>
                        </div>
                        <div class="horiz">
                            <label for="BtsFilter" class="p-head">BTS:</label>
                            <input class="vvod20" type="text" id="BtsFilter" step="any" ng-model="Filt.bts"/>
                            <label for="DevboFilter" class="p-head">DEVBO :</label>
                            <input class="vvod20" type="text" id="DevboFilter" step="any" ng-model="Filt.devbo"/>
                        </div>
                        <div class="horiz">
                            <label for="DescFilter" class="p-head">Описание:</label>
                            <input class="vvod80" type="text" id="DescFilter" step="any" ng-model="Filt.desc"/>
                        </div>
                        <div class="horiz">
                            <label for="ZiNameFilter" class="p-head">Наименование ЗИ</label>
                            <input class="vvod80" type="text" id="ZiNameFilter" step="any" ng-model="Filt.ziName"/>
                        </div>
                        <div class="horiz">
                            <label for="FavoritTask" class="p-head">Избранное</label>
                            <input class="vvod20" type="checkbox"
                                                                    id="FavoritTask"
                                                                    ng-model="Filt.favouriteTask"/>
                            <button type="submit" class="head_button">Применить</button>
                            <button type="button" class="head_button" ng-click="clearFilter(true)">Сбросить</button>
                            <button type="button" class="head_button" ng-click="sendFilter()">Поделиться</button>
                        </div>
                    </div>
                </div>
            </form>
        </details>
        <button class="head_button" ng-click="createTask()">Создать задачу</button>
    </div>
    <div class="filter container_filter">
        <button class="head_button" ng-click="findPage(-1)">PrevPage</button>
        <label for="Page"></label>
        <input class="vvod" type="number" id="Page" value="1"/>
        <button class="head_button" ng-click="findPage(1)">NextPage</button>
        <label for="TaskSize" class="p-head">Количество элементов</label>
        <select class="vvod20" name="SizeFilterTaskSelect" id="TaskSize" ng-model="Filt.size" ng-change="filterTask()">
            <option ng-value="10" value="10" selected>10</option>
            <option ng-value="25" value="25">25</option>
            <option ng-value="50" value="50">50</option>
            <option ng-value="100" value="100">100</option>
            <option ng-value="500" value="500">500</option>
            <option ng-value="1000" value="1000">1000</option>
            <option ng-value="10000" value="10000">10000</option>
        </select>
    </div>
    <h1>Список задач</h1>
    <table>
        <tr>
            <td class="table_head2">Автор</td>
            <td class="table_head2">№ запроса (BTS)</td>
            <td class="table_head2">№ внутренней задачи (DEVBO)</td>
            <td class="table_head2">Краткое описание</td>
            <td class="table_head2">Тип задачи</td>
            <td class="table_head2">№ ЗИ (ZI)</td>
            <td class="table_head2">Наименование ЗИ</td>
            <td class="table_head2"></td>
            <td class="table_head2"></td>

        </tr>
        <tbody>
        <tr ng-repeat="task in TaskList">
            <td ng-if="!task.authorFirstName">{{task.nikName}}</td>
            <td ng-if="task.authorFirstName" class="text_left">{{task.authorLastName}} {{task.authorFirstName}}
                {{task.authorPatronymic}}
            </td>

            <td class="text_not_wrap">{{task.codeBTS}}</td>
            <td class="text_not_wrap">
                <button class="button_table" ng-click="addDelTaskId(task.id);" ng-style="getStyle(task.id)">
                    {{task.codeDEVBO}}
                </button>
            </td>
            <td>
                <button class="button_table" ng-click="addTime(task.id);">{{task.description}}</button>
            </td>
            <td>{{task.typeStr}}</td>
            <td class="text_not_wrap">{{task.codeZi}}</td>
            <td class="text_left">{{task.nameZi}}</td>
            <td>
                <button ng-click="editTask(task.id)">Изменить</button>
            </td>
            <td>
                <button ng-click="deleteTask(task.id)">Удалить</button>
            </td>

        </tr>
        </tbody>
    </table>
    <div class="wait_1_2">
        <img ng-if="load" src="../gif/wait1_2.gif" alt="Лучше ждите" width="300" height="300"/>
    </div>
</div>

<div id="FormEdit" class="div_form container_filter">
    <form novalidate ng-submit="saveTask()">
        <p class="p-form">{{Resp.message}}</p>
        <button type="submit" class="button" id="ButtonSaveUp">Сохранить</button>
        <button type="button" ng-click="loadTask()" class="button">Вернуться к списку</button>
        <br>
        <br>
        <!--        Задача : -->
        <input class="vvod" type="hidden" inputmode="number" id="TaskIdEdit" placeholder="Ведите код задачи"
               ng-model="Task.id"/>
        <!--        <br>-->
        <label for="CodeBTS">№ запроса (BTS) :</label>
        <input class="vvod" type="text" id="CodeBTS" placeholder="Ведите наименование"
                                                              ng-model="Task.codeBTS"/>

        <br>
        <label for="CodeDEVBO">№ внутренней задачи (DEVBO) : </label>
        <input class="vvod" type="text" id="CodeDEVBO" placeholder="Ведите наименование"
                                                                            ng-model="Task.codeDEVBO"/>

        <br>
        <label for="Description">Краткое описание ошибки :</label>
        <input class="vvod" type="text" id="Description" placeholder="Ведите наименование"
                                                                          ng-model="Task.description"/>

        <br>

        <label for="Type">Тип задачи :</label>
        <select class="vvod" name="TypeTaskSelect" id="Type" ng-model="Task.type">
            <option ng-repeat="task in TaskListType" ng-value="task.codeInt" value="task.codeInt">{{task.value}}
            </option>
        </select>
        <br>
    </form>
    <div id="WorkNum">

        <label for="WorkIdEdit">Наименование ЗИ</label>

        <input class="vvod40" type="hidden" step="1" id="WorkIdEdit"
               ng-model="Task.workId"/>
        <div class="horiz">
            <label for="WorkName"></label>
            <input type="text" id="WorkName" class="vvod80" readonly>

            <button type="button" ng-click="findWork(WorkTime.taskId)" class="head_button">Найти</button>
            <button type="button" ng-click="clearWork()" class="head_button">Убрать</button>
        </div>
        <br>
    </div>
    <div id="FindWork">
        <details class="details_block">
            <summary class="p-head">Фильтр</summary>

            <div>
                <form novalidate class="filter">
                    <label for="Name" class="p-head"> Наименование </label>
                    <input class="vvod80" inputmode="text" id="Name"
                                                     ng-model="FiltWork.name"/>
                    <br>
                    <button type="button" ng-click="filterWork()" class="head_button">Применить</button>

                </form>
            </div>
        </details>
        <div class="filter">
            <button type="button" class="head_button" ng-click="loadWork(-1)">PrevPage</button>
            <label for="PageWork"></label>
            <input class="vvod" type="number" id="PageWork" value="1"/>
            <button type="button" class="head_button" ng-click="loadWork(1)">NextPage</button>
            <p class="p-head">Количество элементов</p>
            <label for="WorkSize" class="p-head">Количество элементов</label>
            <select class="vvod20" name="WorkSizeFilterTaskSelect" id="WorkSize" ng-model="FiltWork.size" ng-change="filterWork()">
                <option ng-value="10" value="10" selected>10</option>
                <option ng-value="25" value="25">25</option>
                <option ng-value="50" value="50">50</option>
                <option ng-value="100" value="100">100</option>
                <option ng-value="500" value="500">500</option>
                <option ng-value="1000" value="1000">1000</option>
                <option ng-value="10000" value="10000">10000</option>
            </select>
        </div>
        <table>

            <tr>
                <td class="table_head2" rowspan="3"> Код SAP</td>
                <td class="table_head2" rowspan="3"> Код Зи</td>
                <td class="table_head2" rowspan="3"> Наименование</td>
                <td class="table_head2" rowspan="3"> Этап</td>
            </tr>
            <tbody>
            <tr ng-repeat="work in WorkList">
                <td>{{work.codeSap}}</td>
                <td>{{work.codeZI}}</td>
                <td>
                    <button ng-click="setWork(work.id)">{{work.name}}</button>
                </td>
                <td>{{work.stageZI}}</td>
            </tr>
            </tbody>
        </table>


    </div>
    <button class="button" ng-click="saveTask()" id="ButtonSaveDown">Сохранить</button>
    <button type="button" ng-click="loadTask()" class="button">Вернуться к списку</button>


</div>