<div id="WorkList" class="head_text_elem">
    <div class="filter container">
        <button type="button" class="head_button mar5" id="WorkPage" ng-click="workPage()">Назад</button>
        <details class="details_block">
            <summary class="p-head">Фильтр</summary>

            <form novalidate ng-submit="filterWork()" class="filter">
                <div class="filter_block">
                    <div class="horiz">
                        <label for="Name" class="p-head"> Наименование </label>
                        <input class="vvod80" inputmode="text" id="Name"
                               ng-model="Filt.name"/>
                        <br>
                    </div>
                    <div class="horiz">
                        <label for="WorkNameFilter" class="p-head"> Devbo </label>
                        <input class="vvod20" inputmode="text" id="WorkNameFilter"
                               ng-model="Filt.task"/>
                        <label for="CodeSapFilter" class="p-head"> № Sap </label>
                        <input class="vvod20" type="number" inputmode="numeric"
                               id="CodeSapFilter"
                               step="1"
                               ng-model="Filt.codeSap"/>
                        <label for="CodeZiFilter" class="p-head"> ZI- </label>
                        <input class="vvod20" inputmode="text" id="CodeZiFilter"
                               ng-model="Filt.codeZi"/>

                    </div>
                    <div class="horiz">
                        <label for="StageZiFilter" class="p-head">Текущий этап ЗИ :</label>
                        <select class="vvod20" name="StageZiFilterWorkSelect" id="StageZiFilter"
                                ng-model="Filt.stageZi">
                            <option ng-value="0" value="0">0</option>
                            <option ng-value="1" value="1">I</option>
                            <option ng-value="2" value="2">II</option>
                            <option ng-value="3" value="3">III</option>
                            <option ng-value="4" value="4">IV</option>
                            <option ng-value="5" value="5">V</option>
                            <option ng-value="15" value="15">В работе</option>
                            <option ng-value="6" value="6">Закрытые</option>
                            <option ng-value="19" value="19">Все</option>
                        </select>
                        <label for="ReleaseFilter" class="p-head">№ Релиза</label>
                        <select class="vvod20mar10" name="ReleaseFilterWorkSelect" id="ReleaseFilter"
                                ng-model="Filt.releaseId">
                            <option ng-repeat="release in ReleaseList" ng-value="release.id" value="release.id">
                                {{release.name}}
                            </option>
                            <option ng-value="" value="">Все</option>
                        </select>

                    </div>
                    <div class="horiz">
                        <label for="Period" class="p-head">Разбивка по периодам</label>
                        <select class="vvod40 mar5" name="PeriodFilterUserVacationSelect" id="Period" ng-model="Filt.period">
                            <option ng-value="1" value="1">Дни</option>
                            <option ng-value="2" value="2">Недели по дням</option>
                            <option ng-value="3" value="3">Недели</option>
                            <option ng-value="4" value="4">Месяц</option>
                            <option ng-value="5" value="5">Месяц по дням</option>
                            <option ng-value="6" value="6">Месяц по неделям</option>
                            <option ng-value="7" value="7">3 Месяц</option>
                            <option ng-value="8" value="8">3 Месяц по дням</option>
                            <option ng-value="9" value="9">3 Месяц по неделям</option>
                            <option ng-value="10" value="10">Год</option>
                            <option ng-value="11" value="11">Год по дням</option>
                            <option ng-value="12" value="12">Год по неделям</option>

                        </select>
                    </div>
                    <div class="horiz">
                        <label for="DateStart"></label>
                        <input class="vvod20" type="date" id="DateStart" step="any" ng-model="Filt.dateStart"/>
                        <label for="DateEnd" class="p-head"> <= Дата <= </label>
                        <input class="vvod20" type="date" id="DateEnd" step="any" ng-model="Filt.dateEnd"/>

                    </div>
                    <div class="horiz">

                        <button type="submit" class="head_button">Применить</button>
                        <button type="button" class="head_button" ng-click="clearFilter(true)">Сбросить</button>
                        <button type="button" class="head_button" ng-click="sendFilter()">Поделиться</button>

                    </div>
                </div>
            </form>
        </details>

    </div>
    <div class="filter container_filter">
        <button class="head_button" ng-click="findPage(-1)">PrevPage</button>
        <label for="Page"></label>
        <input class="vvod" type="number" id="Page" value="1"/>
        <button class="head_button" ng-click="findPage(1)">NextPage</button>
        <label for="WorkSize" class="p-head">Количество элементов</label>
        <select class="vvod20" name="SizeFilterWorkSelect" id="WorkSize" ng-model="Filt.size" ng-change="filterWork()">
            <option ng-value="10" value="10">10</option>
            <option ng-value="25" value="25">25</option>
            <option ng-value="50" value="50">50</option>
            <option ng-value="100" value="100">100</option>
            <option ng-value="500" value="500">500</option>
            <option ng-value="1000" value="1000">1000</option>
            <option ng-value="10000" value="10000">10000</option>
        </select>
    </div>
    <h1>График ЗИ
    </h1>
    <table>
        <tr>
            <td  class="sticky-col first-col table_head2" rowspan="3">
                ЗИ
            </td>
            <td class="table_head2">Тип</td>
            <td class="table_head2" ng-repeat="periodWork in WeekWorkDTOs">
                {{periodWork.period}}
            </td>

        </tr>
        <tbody ng-repeat="workGraph in WorkGraphDTOs">
        <tr>
            <td  class="sticky-col first-col" rowspan="2">{{workGraph.workLittleDto.name}}</td>
            <td>План</td>
            <td ng-repeat="workPeriod in workGraph.workPeriodColorPlanDTOs"
                ng-style="getStyleColorBack(workPeriod.colorDto.color)"></td>
        </tr>
        <tr>
<!--            <td rowspan="2">{{workGraph.workLittleDto.name}}</td>-->
            <td>Факт</td>
            <td ng-repeat="workPeriod in workGraph.workPeriodColorFactDTOs"
                ng-style="getStyleColorBack(workPeriod.colorDto.color)"></td>
        </tr>
        </tbody>
    </table>


</div>
<div>

    <img ng-if="load" src="../gif/wait1.gif" alt="wait1" width="900" height="506"/>
</div>
<div>

    <img ng-if="load" src="../gif/wait1_2.gif" alt="wait1" width="300" height="300"/>
</div>
<div>
    <img ng-if="load" src="../gif/wait2.gif" alt="wait2" width="250" height="250"/>
</div>
<div>
    <img ng-if="load" src="../gif/wait3.gif" alt="wait3" width="400" height="300"/>
</div>
<div>
    <img ng-if="load" src="../gif/wait3_2.gif" alt="wait3" width="159" height="160"/>
</div>

<div>
    <img ng-if="load" src="../gif/wait4.gif" alt="wait4" width="800" height="600"/>
</div>
<div>
    <img ng-if="load" src="../gif/wait4_2.gif" alt="wait4" width="448" height="76"/>
</div>

<div>
    <img ng-if="load" src="../gif/wait5_2.gif" alt="wait4" width="235" height="235"/>
</div>
<div>
    <img ng-if="load" src="../gif/wait6.gif" alt="wait4" width="396" height="373"/>
</div>


